<div class="product-option-row">
<label for=""> {{ option.name }} </label>

<div class="option-vlaues">
    <select>
   
        {% for value in option.values %}

       
            <option id="{{ value.id }}" value="{{ value.id }}"> {{ value }}</option>
        
        

        {% endfor %}

    </select> 


</div>

</div>