{%- assign collection = collections[section.settings.collection] -%}

<div class="block-wrapper">
  <div class="line"></div>
  <div class="collection-block" >
  
  <div class="collection-info">
    <div class="collection-title">
      
      <div class="anchor-circle"> </div> <p> {{ collection.title }} </p>
    </div>
    <a href="{{ collection.url }}"> <p>See More </p> </a>

  </div>
  
  
  {%- for product in collection.products limit:3 -%}
    {% render 'product-card'with {product: product , forloop: forloop }  %}
  {%- endfor -%}
  
  
  </div>
</div>

{% schema %}
{
  "name": "collection block",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "collection"    
    },
    {
      "type":"text",
      "id":"title_text",
      "label":"home-text"
  },
  {
    "type":"text",
    "id":"sub_text",
    "label":"sub-text"
}
  ],


  
  "presets": [
    {
      "name": "Collection block",
      "category": "Content"
    }
  ]
}
{% endschema %}