

<div class="collection-block" >

  {%- assign collection = collections[section.settings.collection] -%}

{%- for product in collection.products -%}
    {% render 'product-card' }
{%- endfor -%}


</div>

{% schema %}
{
  "name": "collection block",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "collection"    
    },
    {
      "type":"text",
      "id":"title_text",
      "label":"home-text"
  },
  {
    "type":"text",
    "id":"sub_text",
    "label":"sub-text"
}
  ],


  
  "presets": [
    {
      "name": "Collection block",
      "category": "Content"
    }
  ]
}
{% endschema %}