<div class="footer">

  <div class="footer-top">
      <div class="contact">

        <div class="email">
          <p class="label">Email</p>
          <p> hello@montys.com </p>
          <p> (+64) 27 566 344 </p>
        </div>
      </div>

      <div class="adress">
        <p class="label">Adress</p>
        <p> 8 Durham Street East, Auckland CBD, <br> Auckland 1010 </p>
      </div>

      <div class="social">
        <p class="label">Social</p>
        <p> Instagram </p>
        <p> Facebook </p>
      </div>
        
      </div>
  </div>


    <div class=" footer-bottom">
      
    <img class="foot-logo" src=" {{ 'logo.svg' | asset_url }} " loading="lazy"  width="{{ image.width }}"height="{{ image.height }}" alt=""> 

    </div>
</div>
  
  
  
 

   

      
      

