{% assign page = pages.frontpage %}
{{ page.content }}
{% assign collection = collections.frontpage %}



<div class="main-product-grid">

    {% for product in collection.products %}
      {% if product.available %}  

        {% render 'product-card'with{product: product} %}
        
       {% endif %}
    {% endfor %}
  
    </div>


    {% schema %}
    {
        "name" : "Frontpage Products",
        "settings" : [] 
    }

    {% endschema %}

    {% stylesheet %}

    {% endstylesheet %}

    {% javascript %}

    {% endjavascript %}