<!-- collection  -->

<div class="header ">
  <div class="header-top">
  
    {% if collection.title == "All Aotearoa Labels"  %}
      
      <div class="header-makers-mark animate__animated animate__slideInRight"></div>

    {% endif %}

    {% if collection.title contains "*"  %}
      
      <div class="header-makers-mark animate__animated animate__slideInRight"></div>

    {% endif %}

      {% if product %}

       {% for p in  product.collections %}
        {% if p.title == 'All Aotearoa Labels' %}
        <div class="header-makers-mark animate__animated animate__slideInRight"></div>

        {% endif %}
        {% endfor %}
          {% endif %}
      


    <a href="/"><img class="logo" src=" {{ 'logo.svg' | asset_url }} "  width="150" height="auto" alt="logo"></a>

 

  </div>




</div>
