{%- assign collection = collections[section.settings.collection] -%}

<div class="block-wrapper">

  <div class="vendor-block">
    <div class="anchor-circle"></div>


    {% for i in collection.products %}

        <a class="label-filter" {% if forloop.index == 1%} id="top"  {% endif %} >


          <p>{{ i.vendor }}
          </p>
        </a>
    {% endfor %}

  </div>
</div>

{% schema %}
  {
    "name": "labels",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "collection"
      }, {
        "type": "text",
        "id": "title_text",
        "label": "home-text"
      }, {
        "type": "text",
        "id": "sub_text",
        "label": "sub-text"
      }
    ],



    "presets": [
      {
        "name": "labels",
        "category": "Content"
      }
    ]
  }
  
{% endschema %}