<ul>
    {%- for product_vendor in shop.vendors -%}
      <li>{{ product_vendor | link_to_vendor }}</li>
    {%- endfor -%}
  </ul>


  {% schema %}
{
    "name" : "nz-labels",
    "settings" : [],
    "templates": ["article", "index", "page", "product"]
}

{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}

{% endjavascript %}
