{%- assign collection = collections[section.settings.collection] -%}

<div class="block-wrapper">

  <div class="vendor-block">
    <div class="anchor-circle"></div>
    
      {% for collection in collections %}
         {% assign collectionSlice = collection.title | slice: 0 %}
           
            
          
          {% if collectionSlice == '*' %}
         
             
             <p class="label-filter" ><a href=" {{ collection.url }} "> {{ collection.title | remove_first: "*" }}</a> </p>

          {% endif %} 

      {% endfor %}

 


    <ul>

</ul>

  </div>
</div>

