{%- assign collection = collections[section.settings.collection] -%}

<div class="block-wrapper">

  <div class="vendor-block">
    <div class="anchor-circle"></div>
    
      {% for collection in collections %}

          {% if collection.title | slice: 0 = '*' %}
         
          {{ collection.title }}

          {% endif %}

      {% endfor %}

    {% comment %} {% for i in collection.all_vendors %}
      
        <p class="label-filter" >{{ i | link_to_vendor }} </p>
        
    {% endfor %} {% endcomment %}


    <ul>

</ul>

  </div>
</div>

{% schema %}
  {
    "name": "labels",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "collection"
      }, {
        "type": "text",
        "id": "title_text",
        "label": "home-text"
      }, {
        "type": "text",
        "id": "sub_text",
        "label": "sub-text"
      }
    ],



    "presets": [
      {
        "name": "labels",
        "category": "Content"
      }
    ]
  }
  
{% endschema %}