
<p> Our Labels</p>
<ul>
    {%- for product_vendor in shop.vendors -%}
      <li>{{ product_vendor | link_to_vendor }}</li>
    {%- endfor -%}
  </ul>


  {% schema %}
{
    "name" : "nz-labels",
    "settings" :[ 
          {
            "type": "text",
            "label": "your headline fro the section",
            "id" : "heading"
          },
          {
            "type": "richtext",
            "label": "Your description",
            "id" : "description"
          }
    ]
    
}

{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}

{% endjavascript %}
