<div class="spacer">

</div>


<div class="labels">

  {%- for product_vendor in shop.vendors -%}
  <div class="vendor-item">
    <h1 class="venor-link" >{{ product_vendor | link_to_vendor }}</h1>
    <img src="" alt="">
  </div>
{%- endfor -%}


</div>

  
  


  {% schema %}
{
    "name" : "nz-labels",
    "settings" :[
    ]
    
}

{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}

{% endjavascript %}
