.unavailble {
  color: rgb(167, 167, 167);
  text-decoration: line-through;
}

.grey {
  color: rgb(167, 167, 167) !important;
}

h1 {
  font-size: 26px;
  line-height: 32px;
  font-weight: 300;
  font-style: regular;
}
@media (max-height: 900px) {
  h1 {
    font-size: 1.25em;
    line-height: 1.25em;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
  font-style: regular;
}

h3 {
  font-weight: 500;
  font-size: 16px;
}
@media (max-width: 1000px) {
  h3 {
    font-size: 12px;
  }
}

.filter-label {
  font-size: 16px !important;
}
@media (max-width: 1000px) {
  .filter-label {
    font-size: 13px !important;
  }
}

p, a, label, input, button, .btn {
  font-weight: 500;
  font-size: 16px;
  color: rgba(19, 12, 12, 0.833);
  line-height: 19px;
  font-style: regular;
}
@media (max-width: 1000px) {
  p, a, label, input, button, .btn {
    font-size: 13px;
  }
}

a {
  text-decoration: none;
}

h5 {
  font-weight: 500;
  font-size: 16px;
  color: rgb(167, 167, 167);
  line-height: 15px;
  font-style: regular;
}

.label {
  color: rgb(167, 167, 167) !important;
  font-size: 10px !important;
  line-height: 15px;
}

.flex {
  display: flex;
}

.details {
  position: sticky;
}

.contact-section {
  padding-bottom: 1em;
}

.page-content {
  display: grid;
  grid-template-columns: 3fr 5fr;
  min-height: 40vh;
}
@media (max-width: 800px) {
  .page-content {
    grid-template-columns: 1fr;
  }
}