.unavailble {
  color: rgb(148, 148, 148);
  text-decoration: line-through;
}

.grey {
  color: rgb(148, 148, 148) !important;
}

h1 {
  font-size: 35px;
  line-height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: regular;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
  font-style: regular;
}

h3 {
  font-weight: 700;
  font-size: 16px;
}
@media (max-width: 1000px) {
  h3 {
    font-size: 12px;
  }
}

p, a, label, input, button {
  font-weight: 500;
  font-size: 15px;
  color: rgba(19, 12, 12, 0.833);
  line-height: 15px;
  font-style: regular;
}
@media (max-width: 1000px) {
  p, a, label, input, button {
    font-size: 12px;
  }
}

a {
  text-decoration: none;
}

h5 {
  font-weight: 500;
  font-size: 16px;
  color: rgb(148, 148, 148);
  line-height: 15px;
  font-style: regular;
}

.label {
  color: rgb(148, 148, 148) !important;
  font-size: 10px !important;
  line-height: 15px;
}

.flex {
  display: flex;
}

.wrapper {
  padding: 10px;
}

.product-page-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-bottom: 0;
}
@media (max-width: 700px) {
  .product-page-wrapper {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  }
}

.product-page-info {
  position: sticky;
  top: 0;
  height: 100vh;
  height: fit-content;
  padding-right: 10px;
}
.product-page-info .product-title {
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.228) !important;
}
.product-page-info .product-description {
  margin-bottom: 10px;
  color: rgba(19, 12, 12, 0.833);
}

.product-page-images {
  height: fit-content;
  display: grid;
  grid-auto-rows: 50vw;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding-bottom: 10px;
}
@media (max-width: 1000px) {
  .product-page-images {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
  }
}
.product-page-images .product-img {
  position: relative;
}
.product-page-images .img-index {
  position: absolute;
  top: 10px;
  left: 10px;
}
.product-page-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1000px) {
  .product-page-images img {
    height: 60vh;
    width: 80vw;
  }
}

.single-metafield {
  display: grid;
  color: rgb(148, 148, 148);
  grid-template-columns: 1fr 2fr;
  border-top: 1px solid rgba(0, 0, 0, 0.228);
  padding-top: 5px;
  padding-bottom: 5px;
}
.single-metafield .metafield-title {
  color: rgb(148, 148, 148);
}

.metafeild-notes {
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.178);
  border: 1px solid rgba(0, 0, 0, 0.228);
  padding-bottom: 10px;
  transition: ease-in-out 0.2s;
  margin-bottom: 10px;
}
.metafeild-notes:hover {
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.065));
  background-color: rgb(255, 252, 242);
}
.metafeild-notes .warning-check {
  padding-top: 10px;
  transition: ease-in-out 0.2s;
  display: flex;
  gap: 5px;
}
.metafeild-notes .warning-check label {
  display: flex;
  border-bottom: none !important;
  color: rgba(19, 12, 12, 0.833);
  align-items: center;
}
.metafeild-notes .warning-check input:checked + label .input-block {
  background-color: rgba(19, 12, 12, 0.833);
  border-bottom: none !important;
}
.metafeild-notes .warning-check .input-block {
  height: 0.9em;
  width: 0.9em;
  margin-right: 10px;
  border: 1px solid rgba(19, 12, 12, 0.833);
  border-radius: 50%;
  transition: ease-in-out 0.2s;
  background-color: rgb(255, 252, 242);
}
.metafeild-notes .warning-check .input-block:hover {
  background-color: rgba(19, 12, 12, 0.833);
}
.metafeild-notes .metafield-title {
  padding-bottom: 10px;
}
.metafeild-notes .metafield-title i {
  font-size: 0.8em;
  color: rgba(19, 12, 12, 0.833);
}

.metafeild-notes:has(input:checked) {
  background-color: rgb(255, 252, 242);
}

.warning-title {
  padding-bottom: 10px;
}
.warning-title i {
  font-size: 0.8em;
  color: rgba(19, 12, 12, 0.833);
}

.product-option-row {
  display: grid;
  color: rgb(148, 148, 148);
  grid-template-columns: 1fr 2fr;
  border-top: 1px solid rgba(0, 0, 0, 0.228);
  padding-top: 5px;
  padding-bottom: 5px;
}
.product-option-row .product-option {
  padding-bottom: 5px;
}

.product-price {
  display: grid;
  color: rgb(148, 148, 148);
  grid-template-columns: 1fr 2fr;
  border-top: 1px solid rgba(0, 0, 0, 0.228);
  padding-top: 5px;
  padding-bottom: 5px;
}

optgroup * {
  font-size: 100px;
}

.sizes {
  display: flex;
  justify-content: space-between;
}