.unavailble {
  color: rgb(148, 148, 148);
  text-decoration: line-through;
}

.grey {
  color: rgb(148, 148, 148) !important;
}

h1 {
  font-size: 26px;
  line-height: 32px;
  font-weight: 300;
  font-style: regular;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
  font-style: regular;
}

h3 {
  font-weight: 700;
  font-size: 16px;
}
@media (max-width: 1000px) {
  h3 {
    font-size: 12px;
  }
}

.filter-label {
  font-size: 16px !important;
}
@media (max-width: 1000px) {
  .filter-label {
    font-size: 13px !important;
  }
}

p, a, label, input, button, .btn {
  font-weight: 500;
  font-size: 16px;
  color: rgba(19, 12, 12, 0.833);
  line-height: 19px;
  font-style: regular;
}
@media (max-width: 1000px) {
  p, a, label, input, button, .btn {
    font-size: 13px;
  }
}

a {
  text-decoration: none;
}

h5 {
  font-weight: 500;
  font-size: 16px;
  color: rgb(148, 148, 148);
  line-height: 15px;
  font-style: regular;
}

.label {
  color: rgb(148, 148, 148) !important;
  font-size: 10px !important;
  line-height: 15px;
}

.flex {
  display: flex;
}

.wrapper {
  padding: 10px;
}

.product-page-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-bottom: 0;
}
@media (max-width: 700px) {
  .product-page-wrapper {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  }
}

.product-page-info {
  position: sticky;
  top: 0;
  height: 100vh;
  height: fit-content;
  padding-right: 10px;
}
@media (max-width: 700px) {
  .product-page-info {
    padding-right: 0;
  }
}
.product-page-info .product-title {
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.228) !important;
  display: flex;
  gap: 10px;
}
.product-page-info .product-description {
  margin-bottom: 10px;
  color: rgba(19, 12, 12, 0.833);
}

.product-page-images {
  height: fit-content;
  display: grid;
  grid-auto-rows: 50vw;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding-bottom: 10px;
}
@media (max-width: 700px) {
  .product-page-images {
    display: none;
  }
}
.product-page-images .product-img {
  position: relative;
}
.product-page-images .img-index {
  border-radius: 10px;
}
.product-page-images img {
  width: 100%;
  height: calc(100% - 15px);
  object-fit: cover;
}
@media (max-width: 700px) {
  .product-page-images img {
    height: 60vh;
    width: 80vw;
  }
}

.swiper {
  display: none;
  background-color: rgba(205, 172, 172, 0);
  width: 100%;
  height: 100vw;
  position: relative;
}
@media (max-width: 700px) {
  .swiper {
    display: unset;
  }
}
.swiper .img-index {
  margin-bottom: 10px;
  height: 20px;
}

.swiper-btns {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.swiper-button-next, .swiper-button-prev {
  position: absolute !important;
  pointer-events: auto;
  width: 3em !important;
}

.swiper-button-next {
  height: 100% !important;
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  margin-top: 0 !important;
}

.swiper-button-prev {
  height: 100% !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  margin-top: 0 !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-family: unset !important;
  font-size: 13px;
  height: 100%;
  content: " " !important;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  padding-right: 10px;
}
.swiper-slide img {
  width: 100%;
  height: calc(100% - 20px);
  object-fit: cover;
}

.single-metafield {
  display: grid;
  color: rgb(148, 148, 148);
  grid-template-columns: 1fr 2fr;
  border-top: 1px solid rgba(0, 0, 0, 0.228);
  padding-top: 5px;
  padding-bottom: 5px;
}
.single-metafield .metafield-title {
  color: rgb(148, 148, 148);
}

.metafeild-notes {
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.178);
  border: 1px solid rgba(0, 0, 0, 0.228);
  padding-bottom: 10px;
  transition: ease-in-out 0.2s;
  margin-bottom: 10px;
}
.metafeild-notes:hover {
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.065));
  background-color: rgb(255, 252, 242);
}
.metafeild-notes .warning-check {
  padding-top: 10px;
  transition: ease-in-out 0.2s;
  display: flex;
  gap: 5px;
}
.metafeild-notes .warning-check label {
  display: flex;
  align-items: bottom;
  border-bottom: none !important;
  color: rgba(19, 12, 12, 0.833);
  align-items: center;
}
.metafeild-notes .warning-check input:checked + label .input-block {
  border: 3px solid rgba(19, 12, 12, 0.833);
}
.metafeild-notes .warning-check .input-block {
  height: 8px;
  width: 8px;
  margin-right: 10px;
  border: 1px solid rgba(19, 12, 12, 0.833);
  transition: ease-in-out 0.2s;
  background-color: rgb(255, 252, 242);
}
.metafeild-notes .warning-check .input-block:hover {
  background-color: rgba(19, 12, 12, 0.833);
}
.metafeild-notes .metafield-title {
  padding-bottom: 10px;
}
.metafeild-notes .metafield-title i {
  font-size: 0.8em;
  color: rgba(19, 12, 12, 0.833);
}

.metafeild-notes:has(input:checked) {
  background-color: rgb(255, 252, 242);
}

.warning-title {
  padding-bottom: 10px;
}
.warning-title i {
  font-size: 0.8em;
  color: rgba(19, 12, 12, 0.833);
}

.product-option-row {
  display: grid;
  color: rgb(148, 148, 148);
  grid-template-columns: 1fr 2fr;
  border-top: 1px solid rgba(0, 0, 0, 0.228);
  padding-top: 5px;
  padding-bottom: 5px;
}
.product-option-row .product-option {
  padding-bottom: 5px;
}

.product-price {
  display: grid;
  color: rgb(148, 148, 148);
  grid-template-columns: 1fr 2fr;
  border-top: 1px solid rgba(0, 0, 0, 0.228);
  padding-top: 5px;
  padding-bottom: 5px;
}

optgroup * {
  font-size: 100px;
}

.sizes {
  display: flex;
  justify-content: space-between;
}