h1 {
  font-size: 35px;
  line-height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: regular;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
  font-style: regular;
}

h3 {
  font-weight: 700;
  font-size: 16px;
}

p, a, label, input, button {
  font-weight: 500;
  font-size: 15px;
  color: rgba(19, 12, 12, 0.833);
  line-height: 15px;
  font-style: regular;
}

a {
  text-decoration: none;
}

h5 {
  font-weight: 500;
  font-size: 16px;
  color: rgb(148, 148, 148);
  line-height: 15px;
  font-style: regular;
}

.label {
  color: rgb(148, 148, 148) !important;
  font-size: 10px !important;
  line-height: 15px;
}

.flex {
  display: flex;
}

#recommendations {
  padding-top: 10px;
  padding: 10px;
  border-top: 1px solid rgb(148, 148, 148);
}

.title {
  padding-bottom: 10px;
}

.recommended-grid {
  display: grid;
  grid-auto-rows: 50vw;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2vw 10px;
  width: 100%;
}
@media (max-width: 1300px) {
  .recommended-grid {
    grid-auto-rows: 37vw;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (max-width: 800px) {
  .recommended-grid {
    grid-auto-rows: 50vw;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}