html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: helvetica, arial;
  font-size: 50px;
  font-weight: 700;
}

h2 {
  font-size: 20px;
  font-weight: 700;
}

p {
  font-weight: 700;
  font-size: 14px;
  color: rgb(19, 12, 12);
}

a {
  font-weight: 500;
  font-size: 16px;
  color: rgb(19, 12, 12);
  text-decoration: none;
}

h3 {
  font-weight: 700;
  font-size: 16px;
}

.label {
  color: rgb(95, 95, 95) !important;
  font-size: 10px !important;
}

.flex {
  display: flex;
}

svg {
  fill: rgb(19, 12, 12);
}

.link-btn {
  height: fit-content;
  color: rgb(19, 12, 12);
  text-decoration: none;
  padding-top: 3px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  transition: ease-in-out 0.2s;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0);
  display: flex;
}
.link-btn .maker {
  background-color: rgb(255, 199, 46);
}
.link-btn:hover {
  background-color: rgb(245, 245, 245);
}

.link-btn-active {
  border: 1px solid rgb(19, 12, 12);
  border-radius: 10px;
  transition: ease-in-out 0.3s;
}

.info-cell {
  width: fit-content;
  height: fit-content;
  color: rgb(19, 12, 12);
  text-decoration: none;
  padding-top: 3px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  transition: ease-in-out 0.2s;
  border-radius: 10px;
  display: flex;
  background-color: rgb(255, 255, 255);
}

.header-makers-mark {
  height: 7vw;
  width: 7vw;
  background-color: rgb(255, 199, 46);
  border-radius: 50%;
  position: absolute;
  top: 2vw;
  right: -3vw;
}

.header {
  padding: 20px;
  padding-bottom: 0;
  transition: ease-in-out 0.2s;
}

.header-top {
  width: 100%;
  transition: transform 1.6s cubic-bezier(0.16, 1, 0.3, 1);
  display: flex;
  justify-content: center;
}
.header-top .logo {
  width: 100%;
  height: fit-content;
  transition: ease-in-out 0.2s;
  fill: red;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  transition: ease-in-out 0.2s;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
}

.head-link-list {
  width: 100%;
  display: flex;
  justify-content: right;
}

.collection-link-list {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-scrolled {
  padding-top: 3px;
  padding-bottom: 15px;
  height: 20px;
  position: fixed;
  top: 0;
  left: 5vw;
  right: 5vw;
  z-index: 10;
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(5px);
}
.header-scrolled .header-top .logo {
  width: 0%;
  opacity: 0;
}
.header-scrolled .header-bottom {
  height: 20px;
  display: felx;
  align-items: center;
  padding: 0;
}
.header-scrolled .header-bottom a {
  color: rgb(19, 12, 12);
}
.header-scrolled .header-bottom p {
  color: rgb(19, 12, 12);
}

.cart-button {
  width: fit-content;
}

.logo {
  width: 100%;
  height: fit-content;
  transition: ease-in-out 0.2s;
  fill: red;
}

.home-main {
  width: 100%;
}

.home-products {
  display: grid;
  grid-auto-rows: 40vw;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2vw 10px;
  width: 100%;
  padding: 20px;
}
@media (max-width: 1200px) {
  .home-products {
    grid-auto-rows: 50vw;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (max-width: 800px) {
  .home-products {
    grid-auto-rows: 60vw;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.product-card {
  position: relative;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  border-radius: 5px;
}
.product-card p {
  padding-bottom: 5px;
}
.product-card .product-info {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.product-card .product-img {
  background-color: rgb(55, 55, 171);
  overflow: hidden;
  border-radius: 5px;
  height: 30vw;
}
.product-card .product-img img {
  object-fit: cover;
  position: center;
  width: 100%;
  height: 100%;
}
.product-card .product-info-text {
  transition: ease-in-out 0.2s;
}
.product-card .product-title {
  width: 40%;
}
.product-card .product-price {
  width: fit-content;
}
.product-card .cell {
  margin-right: 20px;
}

.info-section-one {
  display: flex;
  width: 100%;
}

.info-section-two {
  display: flex;
}

.product-option-label {
  display: flex;
}

.mini-add-to-cart button {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  fill: none;
  border: none;
  border: 1px solid rgb(19, 12, 12);
}
.mini-add-to-cart button i {
  font-size: 1em;
}
.mini-add-to-cart button:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(19, 12, 12);
  filter: drop-shadow(2px 2px 10px rgb(255, 255, 255));
}
.mini-add-to-cart button:hover i {
  transform: rotate(90deg);
}

.makers-mark {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgb(255, 199, 46);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.product-page-wrapper {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  padding: 20px;
  grid-gap: 20px;
}

.product-page-info {
  height: fit-content;
  position: sticky;
}

.product-page-images {
  padding-top: 5vh;
  height: fit-content;
  display: grid;
  grid-auto-rows: 45vw;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
}
.product-page-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-page-info {
  position: sticky;
  top: 0;
  height: 100vh;
  padding-top: 5vh;
}

.single-metafield {
  display: grid;
  color: rgb(95, 95, 95);
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid rgb(95, 95, 95);
  padding-top: 5px;
  padding-bottom: 5px;
}

optgroup * {
  font-size: 100px;
}

.sizes {
  display: flex;
  justify-content: space-between;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(252, 55, 6);
}

.spacer {
  background-color: rgba(255, 126, 5, 0);
  height: 0;
}

#content {
  background-color: rgb(255, 255, 255);
  position: relative;
  height: fit-content;
  margin: auto;
  margin-top: 4vh;
  margin-bottom: 4vh;
  border-radius: 5px;
  border: 1px solid rgb(19, 12, 12);
}

.my-cart {
  display: none;
}