html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

.unavailble {
  color: rgb(167, 167, 167);
  text-decoration: line-through;
}

.grey {
  color: rgb(167, 167, 167) !important;
}

h1 {
  font-size: 26px;
  line-height: 32px;
  font-weight: 300;
  font-style: regular;
}
@media (max-height: 900px) {
  h1 {
    font-size: 1.25em;
    line-height: 1.25em;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
  font-style: regular;
}

h3 {
  font-weight: 500;
  font-size: 16px;
}
@media (max-width: 1000px) {
  h3 {
    font-size: 12px;
  }
}

.filter-label {
  font-size: 14px !important;
}
@media (max-width: 1000px) {
  .filter-label {
    font-size: 12px !important;
  }
}

p, a, label, input, button, .btn {
  font-weight: 500;
  font-size: 14px;
  color: rgba(19, 12, 12, 0.833);
  line-height: 17px;
  font-style: regular;
  letter-spacing: 0.3px;
}
@media (max-width: 1000px) {
  p, a, label, input, button, .btn {
    font-size: 12px;
    line-height: 15px;
  }
}

a {
  text-decoration: none;
}

h5 {
  font-weight: 500;
  font-size: 16px;
  color: rgb(167, 167, 167);
  line-height: 15px;
  font-style: regular;
}

.label {
  color: rgb(167, 167, 167) !important;
  font-size: 10px !important;
  line-height: 15px;
}

.flex {
  display: flex;
}

.btn {
  background-color: rgba(0, 0, 0, 0.092);
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

#add-to-cart-button:disabled {
  opacity: 60%;
}
#add-to-cart-button:disabled:hover {
  background-color: rgba(0, 0, 0, 0.092) !important;
  border: 1px solid rgba(0, 0, 0, 0.228) !important;
}

.hero-btn {
  border: none;
  stroke: none;
  width: 100%;
  display: unset !important;
  background-color: rgba(0, 0, 0, 0.092);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.228);
  transition: ease-in-out 0.2s;
}
.hero-btn:hover {
  border: 1px solid rgba(19, 12, 12, 0.833);
  background-color: rgb(255, 252, 242);
}

.anchor-circle {
  margin-top: 2px;
  height: 11px !important;
  width: 11px !important;
  background-color: rgba(19, 12, 12, 0.833);
  border-radius: 50%;
}

.link-btn {
  height: fit-content;
  color: rgba(19, 12, 12, 0.833);
  text-decoration: none;
  padding-top: 3px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  transition: ease-in-out 0.2s;
  display: flex;
  line-height: 15px;
}
.link-btn .maker {
  background-color: rgb(255, 199, 46);
}
.link-btn:hover {
  background-color: rgba(0, 0, 0, 0.092);
}

.link-btn-active {
  border: 1px solid rgba(19, 12, 12, 0.833);
  border-radius: 10px;
  transition: ease-in-out 0.3s;
}

.info-cell {
  width: fit-content;
  height: fit-content;
  color: rgba(19, 12, 12, 0.833);
  text-decoration: none;
  padding-top: 3px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  transition: ease-in-out 0.2s;
  border-radius: 10px;
  display: flex;
  background-color: rgb(255, 252, 242);
}

.version-mark {
  position: fixed;
  right: 3px;
  top: 3px;
  color: rgb(167, 167, 167);
  padding: 2px 2px 0px 2px;
  border-radius: 50%;
  z-index: 1;
}
.version-mark p {
  font-size: 9px !important;
}
@media (max-width: 1000px) {
  .version-mark {
    display: none;
  }
}

.active-filter {
  color: rgb(255, 252, 242) !important;
  border: 1px solid rgba(0, 0, 0, 0.228);
  padding: 2px 5px;
  border-radius: 5px;
  font-weight: 200;
}

.no-background {
  background-color: none !important;
}

input {
  display: none;
}

input + label {
  border: none;
  color: rgb(167, 167, 167);
  cursor: pointer;
  border: none;
}
input + label:hover {
  color: rgba(19, 12, 12, 0.833);
}

input:checked + label {
  color: rgba(19, 12, 12, 0.833) !important;
  border-bottom: 1px solid rgba(19, 12, 12, 0.833);
}
input:checked + label i {
  rotate: 45deg;
}

input:disabled + label {
  text-decoration: line-through;
}

.header-makers-mark {
  height: 3vw;
  width: 3vw;
  background-color: rgb(255, 199, 46);
  border-radius: 50%;
  position: fixed;
  top: 40px;
  right: 15px;
  z-index: 10;
}

.header {
  padding-bottom: 0;
  transition: ease-in-out 0.2s;
}

.header-top-fixed {
  position: fixed !important;
  top: 0px !important;
  left: 0 !important;
  padding-top: 0px !important;
  z-index: 20;
}

.header-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1.6s cubic-bezier(0.16, 1, 0.3, 1);
  position: absolute;
  height: 2.5rem;
  z-index: 200;
}
.header-top a {
  line-height: 0 !important;
}
.header-top .logo {
  background-color: rgba(255, 252, 242, 0.905);
  transition: ease-in-out 0.2s;
  height: 2.5rem;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.228);
  border-top: 0;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  transition: ease-in-out 0.2s;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
}

.collection-link-list {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-scrolled {
  padding-top: 3px;
  padding-bottom: 15px;
  height: 20px;
  position: fixed;
  top: 0;
  left: 5vw;
  right: 5vw;
  z-index: 10;
  background-color: rgb(255, 252, 242);
}
.header-scrolled .header-top .logo {
  opacity: 0;
}
.header-scrolled .header-bottom {
  height: 20px;
  align-items: center;
  padding: 0;
}
.header-scrolled .header-bottom a {
  color: rgba(19, 12, 12, 0.833);
}
.header-scrolled .header-bottom p {
  color: rgba(19, 12, 12, 0.833);
}

.cart-button {
  width: min-content;
}

.nav-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: calc(100% - 2.5em);
  z-index: 200;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: ease-in-out 0.2s;
}
@media (max-width: 900px) {
  .nav-wrapper {
    top: calc(100% - 3.5em);
  }
}

.nav-bottom-fixed {
  position: absolute;
  bottom: 0;
  z-index: 200;
  transition: unset;
}
.nav-bottom-fixed .cart {
  height: 0 !important;
  transition: ease-in-out 0.2s;
}
@media (max-width: 900px) {
  .nav-bottom-fixed {
    bottom: 0px;
    opacity: 0.2;
  }
}

.nav-content {
  width: min-content;
}

.nav-module {
  background-color: rgba(255, 252, 242, 0.905);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 0 0;
  height: 2.5em;
  padding: 10px;
  width: max-content;
  z-index: 10;
  border: 1px solid rgba(0, 0, 0, 0.228);
  border-bottom: 0;
  overflow: hidden;
  transition: ease-in-out 0.2s;
}
@media (max-width: 900px) {
  .nav-module {
    border-radius: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.228);
  }
}
.nav-module .head-link-list {
  display: flex;
}
.nav-module .link-btn {
  border-right: 1px solid rgba(0, 0, 0, 0);
}
.nav-module .cart-btn {
  border-right: 0;
}

.foot-logo {
  width: 100%;
  transition: ease-in-out 0.2s;
  fill: red;
}

.footer {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.footer-top {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 3fr 8fr 1fr;
  border-top: 1px solid rgba(0, 0, 0, 0.228) !important;
}
@media (max-width: 800px) {
  .footer-top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    gap: 10px;
  }
}

.footer-bottom {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 7px;
}

.product-page-grid {
  position: relative;
}

.main-product-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 10px;
  width: 100%;
}
@media (max-width: 1300px) {
  .main-product-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (max-width: 800px) {
  .main-product-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (max-width: 600px) {
  .main-product-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.lrg {
  grid-column: span 2;
  grid-row: span 2;
}

.card-entered {
  opacity: 100% !important;
  padding-top: 0 !important;
}
.card-entered .makers-mark {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgb(255, 199, 46);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  z-index: 10;
}

.product-card {
  opacity: 0;
  transition: ease all 0.5s;
  position: relative;
  padding-top: 2em;
}

a {
  height: min-content;
}

.product-content {
  transition: ease-in-out 0.2s !important;
  position: relative;
  width: 100%;
  height: min-content;
  border-radius: 0 !important;
}
@media (hover: hover) {
  .product-content :hover img {
    height: 110%;
    width: 110%;
  }
  .product-content :hover .img-tab {
    bottom: -1px !important;
    filter: drop-shadow(0px -10px 20px rgba(0, 0, 0, 0.372));
  }
  .product-content :hover .info-section {
    color: rgb(167, 167, 167) !important;
  }
}
.product-content .product-img {
  background-color: rgba(0, 0, 0, 0.092) !important;
  overflow: hidden;
  position: relative;
  height: 25vw;
}
@media (max-width: 1300px) {
  .product-content .product-img {
    height: 29vw;
  }
}
@media (max-width: 800px) {
  .product-content .product-img {
    height: 37vw;
  }
}
@media (max-width: 600px) {
  .product-content .product-img {
    height: 60vw;
  }
}
.product-content .product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: ease-in-out 0.2s;
}
.product-content .product-img .img-tab {
  background-color: rgb(255, 252, 242);
  transition: ease-in-out 0.2s;
  height: 1.5em;
  width: 40%;
  position: absolute;
  bottom: -1.5em;
  border-radius: 5px 5px 0 0;
  left: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.product-content .product-img .img-tab p {
  display: block;
}
.product-content .product-info {
  height: fit-content;
  padding-bottom: 2em;
}
.product-content .product-info .info-section {
  padding-top: 10px;
}
@media (max-width: 1300px) {
  .product-content .product-info {
    padding-bottom: 1.5em;
  }
}
@media (max-width: 800px) {
  .product-content .product-info {
    padding-bottom: 1em;
  }
}
@media (max-width: 600px) {
  .product-content .product-info {
    padding-bottom: 1.5em;
  }
}

.makers-mark {
  position: absolute;
  top: 5px;
  right: -20px;
  background-color: rgb(255, 199, 46);
  width: 0px;
  height: 0px;
  border-radius: 50%;
  transition: ease-in-out 0.2s;
  z-index: 10;
}

.open {
  transition: ease-in-out 0.2s;
  overflow: scroll !important;
  max-height: 80vh !important;
}
.open .all-filters {
  width: 100% !important;
  max-height: 70vh !important;
}
.open .filter-group {
  opacity: 100 !important;
  max-height: 100%;
}
.open .filter-head-bottom {
  height: 0 !important;
  overflow: hidden !important;
}
.open .filter-title i {
  rotate: 180deg;
  margin-bottom: 4px;
}
.open .fade-l {
  opacity: 0;
}
.open .fade-r {
  opacity: 0;
}

#filters {
  height: 10px;
}

.filters-scroll {
  position: fixed;
  top: 10px;
  left: 30px;
  right: 30px;
  z-index: 20;
  height: 0;
  overflow: hidden;
  transition: ease all 0.3s;
}
.filters-scroll .btn {
  background-color: rgb(255, 252, 242);
  margin: 0 !important;
}
.filters-scroll .filters-fixed {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
@media (max-width: 900px) {
  .filters-scroll .filters-fixed {
    justify-content: space-between;
  }
}

.filter-head {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .filter-head {
    flex-direction: column;
    bottom: calc(100% + 10px);
  }
}
.filter-head .filter-head-top {
  display: flex;
  flex-basis: 1;
}
@media (max-width: 900px) {
  .filter-head .filter-head-top {
    justify-content: space-between;
    padding: 0;
  }
  .filter-head .filter-head-top .btn {
    margin-left: 0;
  }
}
.filter-head .filter-head-bottom {
  display: flex;
  height: fit-content;
  transition: ease-in-out 0.2s;
  overflow: hidden;
  margin-right: 10px;
}
@media (max-width: 900px) {
  .filter-head .filter-head-bottom {
    width: 100%;
  }
}
.filter-head .filter-head-bottom .active-filters {
  display: flex;
  height: fit-content;
  width: 100%;
  overflow: hidden;
  transition: ease-in-out 0.2s;
  position: relative;
}
@media (max-width: 900px) {
  .filter-head .filter-head-bottom .active-filters {
    width: 100%;
  }
  .filter-head .filter-head-bottom .active-filters .filter-label {
    margin-top: 10px;
  }
}
.filter-head .filter-head-bottom .active-filters .scroll-wrap::-webkit-scrollbar {
  display: none;
}
.filter-head .filter-head-bottom .active-filters .scroll-wrap {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.filter-head .filter-head-bottom .active-filters .scroll-wrap {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  background: rgba(0, 128, 0, 0);
  position: relative;
  padding-right: 2.5em;
  padding-left: 10px;
}
.filter-head .filter-head-bottom .active-filters .scroll-wrap .filter-label {
  margin-left: 0 !important;
  margin-right: 10px;
}
@media (max-width: 900px) {
  .filter-head .filter-head-bottom .active-filters .scroll-wrap {
    padding-left: 5px;
  }
}
.filter-head .filter-head-bottom .active-filters .fade-r {
  background: rgb(255, 36, 36);
  background: linear-gradient(270deg, rgb(255, 252, 242) 20%, rgba(255, 255, 255, 0) 100%);
  width: 10px;
  height: 2.5em;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  pointer-events: none;
}
@media (max-width: 900px) {
  .filter-head .filter-head-bottom .active-filters .fade-r {
    height: unset;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
.filter-head .filter-head-bottom .active-filters .fade-l {
  background: rgb(255, 36, 36);
  background: linear-gradient(-270deg, rgb(255, 252, 242) 20%, rgba(255, 255, 255, 0) 100%);
  width: 10px;
  height: 2.5em;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}
@media (max-width: 900px) {
  .filter-head .filter-head-bottom .active-filters .fade-l {
    height: unset;
    left: 0;
    top: 0;
    bottom: 0;
  }
}
.filter-head .active-filter {
  min-width: max-content !important;
}
.filter-head .active-filter:hover {
  background-color: rgba(0, 0, 0, 0.092) !important;
}
.filter-head .filter-title {
  margin-left: 0;
}

.clear-btn {
  background-color: rgb(255, 252, 242);
  margin-right: 0;
}
.clear-btn:hover {
  background-color: rgba(0, 0, 0, 0.092) !important;
}

.filter-title i {
  margin-left: 5px;
}

.filter-label {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid red;
  cursor: pointer;
  width: max-content;
  border: 1px solid rgba(0, 0, 0, 0.228);
  transition: ease-in-out 0.2s;
}
.filter-label i {
  font-size: 0.8em;
}
.filter-label:hover {
  border: 1px solid rgba(0, 0, 0, 0.228);
  background-color: rgba(0, 0, 0, 0);
}

.filter-form {
  max-height: 0;
  width: 100%;
  padding-left: 0;
  top: calc(-1.5em - 13px);
  z-index: 100;
  transition: ease-in-out 0.2s;
  margin-top: 10px;
  overflow: hidden !important;
}
.filter-form .all-filters {
  transition: ease all 0.6s;
  overflow: scroll;
  border-top: 1px solid rgba(0, 0, 0, 0.228);
  max-height: 30em;
}
.filter-form .filter-group {
  width: min-content;
  display: grid;
  grid-template-columns: 4fr 4fr;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.228);
  padding-top: 10px;
  opacity: 100%;
  transition: ease all 1s;
}
.filter-form i {
  transition: ease-in-out 0.2s;
}
.filter-form .filter-group:nth-child(1) {
  border-top: 0;
}
.filter-form .filter-group-summary {
  display: flex;
  gap: 10px;
}
.filter-form .filter-group-summary .filter-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
}
.filter-form .filter-group-summary .filter-info .filter-info-top {
  display: flex;
  gap: 10px;
}
.filter-form .filter-tag input + label {
  color: rgb(167, 167, 167);
  height: fit-content !important;
  border: none;
}
.filter-form .filter-tag input + label:hover {
  color: rgba(19, 12, 12, 0.833);
}
.filter-form .reset {
  background-color: rgb(255, 252, 242) !important;
  margin-left: 0 !important;
  margin-top: 3em;
  border-bottom: 1px solid rgba(19, 12, 12, 0.833) !important;
  width: fit-content !important;
}
.filter-form .filter-group-display__list {
  min-height: max-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 3em;
}
.filter-form i {
  font-size: 0.8em;
}
.filter-form input {
  display: none;
}
.filter-form label {
  display: block;
  padding: 3px 5px;
}
.filter-form input + label {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.092);
  color: rgb(167, 167, 167);
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
}
.filter-form input + label:hover {
  color: rgba(19, 12, 12, 0.833);
}
.filter-form input:checked + label {
  color: rgba(19, 12, 12, 0.833) !important;
  border-bottom: none;
  border: 1px solid rgba(0, 0, 0, 0.228);
  background-color: rgb(255, 252, 242);
}
.filter-form input:disabled + label {
  text-decoration: line-through;
  display: none;
}

.filter-footer {
  width: 100%;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.228);
  z-index: 10;
}
.filter-footer .fade {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 252, 242) 20%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  height: 2em;
  position: absolute;
  bottom: 2em;
  left: 0;
  right: 0;
  z-index: 1;
  pointer-events: none;
  display: none;
}
.filter-footer .filter-foot-wrapper {
  width: 100%;
  padding-top: 10px;
}
.filter-footer .filter-foot-wrapper .hero-btn {
  width: 50%;
}
.filter-footer .apply-title {
  margin-left: 0;
}

.product-page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 0;
  gap: 10px;
}
@media (max-width: 700px) {
  .product-page-wrapper {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    gap: 0;
  }
}

.product-page-info {
  position: sticky;
  top: 0;
  height: 100vh;
  height: fit-content;
}
@media (max-width: 700px) {
  .product-page-info {
    padding-right: 0;
  }
}
.product-page-info .product-title {
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.228) !important;
  display: flex;
  gap: 10px;
}
.product-page-info .product-description {
  margin-bottom: 10px;
  color: rgba(19, 12, 12, 0.833);
}

.product-page-images {
  grid-column: 2/5;
  height: fit-content;
  display: grid;
  grid-auto-rows: 50vw;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
}
@media (max-width: 900px) {
  .product-page-images {
    grid-template-columns: 1fr;
    grid-auto-rows: 90vw;
  }
}
@media (max-width: 700px) {
  .product-page-images {
    display: none;
  }
}
.product-page-images .product-img {
  position: relative;
}
.product-page-images .img-index {
  border-radius: 10px;
  position: absolute;
  top: 7px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.065);
  mix-blend-mode: difference;
}
@media (max-width: 700px) {
  .product-page-images .img-index {
    position: absolute;
    top: 7px;
    bottom: -10px;
  }
}
.product-page-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 700px) {
  .product-page-images img {
    height: 60vh;
    width: 80vw;
  }
}

.swiper-wrapper {
  padding-top: 10px;
}

.swiper {
  display: none;
  background-color: rgba(205, 172, 172, 0);
  width: 100%;
  height: 110vw;
  position: relative;
  cursor: url("image-path.png");
}
@media (max-width: 700px) {
  .swiper {
    display: unset;
  }
}
.swiper-btns {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.swiper-button-next, .swiper-button-prev {
  position: absolute !important;
  pointer-events: auto;
  width: 3em !important;
}

.swiper-button-next {
  height: 100% !important;
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  margin-top: 0 !important;
}

.swiper-button-prev {
  height: 100% !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  margin-top: 0 !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-family: unset !important;
  font-size: 12px;
  height: 100%;
  content: " " !important;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  padding-right: 5px;
}
.swiper-slide img {
  width: 100%;
  height: 95%;
  object-fit: cover;
}
@media (max-width: 80px) {
  .swiper-slide img {
    height: calc(100% - 30px);
  }
}

.single-metafield {
  display: grid;
  color: rgb(167, 167, 167);
  grid-template-columns: 1fr 2fr;
  border-top: 1px solid rgba(0, 0, 0, 0.228);
  padding-top: 5px;
  padding-bottom: 5px;
}
.single-metafield .metafield-title {
  color: rgb(167, 167, 167);
}

.metafeild-notes {
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.092);
  border: 1px solid rgba(0, 0, 0, 0.228);
  padding-bottom: 10px;
  transition: ease-in-out 0.2s;
  margin-bottom: 10px;
}
@media (hover: hover) {
  .metafeild-notes:hover {
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.065));
    background-color: rgb(255, 252, 242);
  }
}
.metafeild-notes .warning-check {
  padding-top: 10px;
  transition: ease-in-out 0.2s;
  display: flex;
  gap: 5px;
}
.metafeild-notes .warning-check label {
  display: flex;
  align-items: bottom;
  border-bottom: none !important;
  color: rgba(19, 12, 12, 0.833);
  align-items: center;
}
.metafeild-notes .warning-check input:checked + label .input-block {
  background-color: grey;
  border-radius: 50%;
  border: none;
}
.metafeild-notes .warning-check p {
  padding-top: 10px;
}
.metafeild-notes .warning-check .input-block {
  height: 10px;
  width: 10px;
  margin-right: 10px;
  border: 1px solid rgba(19, 12, 12, 0.833);
  transition: ease-in-out 0.2s;
  background-color: rgb(255, 252, 242);
}
.metafeild-notes .warning-check .input-block:hover {
  background-color: rgba(19, 12, 12, 0.833);
}
.metafeild-notes .metafield-title {
  padding-bottom: 10px;
  display: flex;
}
.metafeild-notes .metafield-title i {
  font-size: 0.8em;
  color: rgba(19, 12, 12, 0.833);
}

.metafeild-notes:has(input:checked) {
  background-color: rgb(255, 252, 242);
}

.warning-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.228);
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.warning-title i {
  font-size: 0.9em;
  padding-top: 2px;
  color: rgba(19, 12, 12, 0.833);
}

.warning-text {
  padding-top: 10px;
}

.product-option-row {
  display: grid;
  color: rgb(167, 167, 167);
  grid-template-columns: 1fr 2fr;
  border-top: 1px solid rgba(0, 0, 0, 0.228);
  padding-top: 5px;
  padding-bottom: 5px;
}
.product-option-row .product-option {
  padding-bottom: 5px;
}

.product-price {
  display: grid;
  color: rgb(167, 167, 167);
  grid-template-columns: 1fr 2fr;
  border-top: 1px solid rgba(0, 0, 0, 0.228);
  border-bottom: 1px solid rgba(0, 0, 0, 0.228);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

optgroup * {
  font-size: 100px;
}

.sizes {
  display: flex;
  justify-content: space-between;
}

.details {
  position: sticky;
}

.contact-section {
  padding-bottom: 1em;
}

.page-content {
  display: grid;
  grid-template-columns: 3fr 5fr;
  min-height: 40vh;
}
@media (max-width: 800px) {
  .page-content {
    grid-template-columns: 1fr;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input {
  background-color: none !important;
  width: fit-content;
  outline: none;
  border: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}

.my-cart {
  height: 100%;
  transition: ease-in-out 0.2s;
}

.js-ajax-cart-message--error {
  color: red;
}

.cart-close {
  top: calc(100vh - 2.5em) !important;
  padding-top: 0 !important;
}
.cart-close .nav-module {
  background-color: rgba(255, 252, 242, 0.905) !important;
}
@media (max-width: 900px) {
  .cart-close {
    top: calc(100vh - 3.5em) !important;
  }
  .cart-close .cart {
    height: 0 !important;
  }
}

.cart-close-bottom .nav-module {
  background-color: rgba(255, 252, 242, 0.905) !important;
  height: 2.5em !important;
}

.cart-open {
  height: 100vh;
  height: -webkit-fill-available;
  top: 0;
  padding-top: 15vh;
  padding-bottom: 15vh;
}
.cart-open .cart {
  border: 1px solid rgba(0, 0, 0, 0.228);
  border-top: 0;
}
.cart-open .nav-content {
  height: calc(100% - 2.5em);
}
.cart-open .nav-module {
  background-color: rgb(255, 199, 46);
  transition: ease all 0.3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.228);
}
@media (max-width: 900px) {
  .cart-open .nav-module {
    border-radius: 5px 5px 0 0 !important;
  }
}

.cart-open .cart {
  height: 100%;
  padding-top: 0;
  background-color: rgb(255, 199, 46) !important;
}
.cart-open .cart .items {
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
}
.cart-open .cart .cart-foot {
  padding: 10px;
}

.cart {
  background-color: rgb(255, 252, 242) !important;
  border-top: 0;
  max-width: 100%;
  height: 0;
  z-index: 10;
  padding: 0;
  overflow: scroll;
  border-radius: 0 0 5px 5px;
}
@media (max-width: 900px) {
  .cart {
    transition: ease-in-out 0.2s;
  }
}

.cart-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: scroll;
}

.items {
  overflow: hidden;
}

.cart-items {
  background-color: rgba(255, 0, 0, 0);
  height: 100%;
  overflow: scroll;
}

.cart-logo {
  width: 100%;
}

.cart-foot {
  height: min-content;
  position: relative;
  background-color: rgb(255, 199, 46);
  padding-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.228);
}
.cart-foot .hero-btn:hover {
  background-color: rgba(255, 255, 255, 0);
}

.cart-items {
  height: 100% !important;
}

.cart-item:nth-child(1) {
  border-top: none;
}

.cart-item {
  width: 100%;
  height: 15em;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.228);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cart-item .item-info {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart-item .item-info input {
  display: unset;
  background-color: rgba(255, 0, 0, 0) !important;
  text-align: center;
  width: 30%;
}
.cart-item .item-info i {
  font-size: 0.8em;
  color: rgba(19, 12, 12, 0.833);
}
.cart-item .item-info i:hover {
  color: rgb(167, 167, 167);
}
.cart-item .label {
  color: rgba(19, 12, 12, 0.833) !important;
}
.cart-item .cart-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.card.item::nrth-child(1) {
  border-top: none;
}

.active p {
  color: rgb(167, 167, 167) !important;
}
@media (hover: hover) {
  .active:hover {
    color: rgb(167, 167, 167) !important;
  }
}

.collection-filters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  gap: 10px;
  border-top: none;
  border-radius: 0 0 5px 5px;
  margin-left: auto;
}
@media (max-width: 800px) {
  .collection-filters {
    gap: 0;
  }
}
.collection-filters .collections-title {
  padding-top: 10px;
  display: flex;
  padding-bottom: 10px;
  gap: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.228);
}
.collection-filters .links {
  position: sticky;
  top: 0;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
@media (max-width: 800px) {
  .collection-filters .links {
    position: unset;
    grid-column: 1/5;
    grid-row: 2;
  }
}
.collection-filters .links .collection-filter {
  border-bottom: 1px solid rgba(0, 0, 0, 0.228);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.collection-filters img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  grid-column: 2/5;
  padding-top: 10px;
}
@media (max-width: 800px) {
  .collection-filters img {
    grid-column: 1/5;
    height: 71vh;
  }
}
@media (hover: hover) {
  .collection-filters:hover {
    color: rgb(167, 167, 167);
  }
}
.collection-filters .count {
  min-width: max-content;
}
.collection-filters .collection-filter {
  display: flex;
  position: relative;
  gap: 10px;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: ease-in-out 0.2s;
}
@media (hover: hover) {
  .collection-filters .collection-filter:hover {
    color: rgb(167, 167, 167) !important;
    border-bottom: 1px solid rgba(19, 12, 12, 0.833);
    padding-left: 5px;
  }
}
@media (hover: hover) {
  .collection-filter:hover {
    color: rgba(0, 0, 0, 0.092);
  }
}

#recommendations {
  min-height: 80vh;
}
#recommendations .product-card {
  opacity: 100% !important;
  padding-top: 0 !important;
}
@media (max-width: 600px) {
  #recommendations {
    min-height: 60vh;
  }
}

.line {
  border-top: 1px solid rgba(0, 0, 0, 0.228);
  width: 0%;
  transition: linear all 1s;
  margin-bottom: 10px;
}

.entered {
  opacity: 100% !important;
}
.entered .line {
  width: 100%;
}
.entered .recommended-grid {
  opacity: 100 !important;
}

.title {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}

.recommended-grid {
  opacity: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  transition: ease all 1s;
  position: relative;
}
@media (max-width: 600px) {
  .recommended-grid {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}
.recommended-grid .title {
  grid-column: 1/1;
  grid-row: 1;
}
@media (max-width: 600px) {
  .recommended-grid .title {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .recommended-grid {
    display: flex;
    flex-wrap: wrap;
  }
}

.fade {
  position: absolute;
  right: -10px;
  top: 0;
  bottom: 0;
  width: 10%;
  background-color: red;
  z-index: 5;
  pointer-events: none;
  background: linear-gradient(270deg, rgb(255, 252, 242) 10%, rgba(255, 255, 255, 0) 80%);
  display: none;
}

.recomended-product {
  overflow: unset;
  display: flex;
  gap: 10px;
  grid-column: 2/5;
}
@media (max-width: 800px) {
  .recomended-product {
    display: flex;
    gap: 10px;
    overflow: scroll;
    width: 100%;
    height: fit-content;
  }
}
@media (max-width: 800px) {
  .recomended-product .product-card {
    width: 50vw;
    height: fit-content;
  }
}
@media (max-width: 800px) {
  .recomended-product .product-card .product-img {
    height: 65vw;
  }
}

.card-img {
  width: 100%;
  padding-bottom: 5em;
  padding-top: 10px;
}
.card-img img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}
.card-img h1 {
  width: 100%;
  padding-top: 10px;
}

.img-sub-txt {
  padding-top: 10px;
  display: flex;
  gap: 10px;
}

.block-wrapper {
  margin-bottom: 2em;
}
.block-wrapper .entered {
  width: 100% !important;
}

.collection-block {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  margin-bottom: 10px;
}
@media (max-width: 800px) {
  .collection-block {
    display: flex;
    flex-direction: column !important;
  }
}
@media (max-width: 800px) {
  .collection-block .collection-info {
    grid-column: 1/5;
    grid-row: 1;
  }
}
.collection-block .collection-title {
  display: flex;
  gap: 10px;
}
@media (max-width: 800px) {
  .collection-block .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
.collection-block .product-card .product-img {
  background-color: rgba(0, 0, 0, 0.092) !important;
  overflow: hidden;
  position: relative;
  height: 30vw;
}
@media (max-width: 800px) {
  .collection-block .product-card .product-img {
    height: 65vw;
    width: 50vw;
  }
}
.collection-block .product-card .product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: ease-in-out 0.2s;
}

.collection-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
}
@media (max-width: 800px) {
  .collection-images {
    display: flex;
    gap: 10px;
  }
  .collection-images .product-info {
    height: 20vw;
  }
}

.active {
  opacity: 50%;
}

.slide-header {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.228);
  flex-basis: 1;
  padding-bottom: 10px;
}

.label-fixed {
  top: 10px !important;
  height: calc(100vh - 10px) !important;
  padding-top: 0px !important;
}
.label-fixed .label-draw-content-grid {
  padding-top: 0 !important;
}
@media (max-width: 1000px) {
  .label-fixed {
    padding-bottom: 10px;
  }
}
@media (max-width: 800px) {
  .label-fixed {
    top: calc(100vh + 2.5em) !important;
  }
}

.labels-open {
  pointer-events: all !important;
  left: 20px !important;
}
@media (max-width: 1000px) {
  .labels-open {
    left: 10px !important;
  }
}
@media (max-width: 800px) {
  .labels-open {
    top: 30vh !important;
  }
}

.exit-labels {
  height: 2em;
  width: 2.5rem !important;
  border-radius: 0 5px 5px 0;
  position: absolute;
  right: -2.5em;
  top: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(63, 156, 71);
  border: 1px solid rgba(0, 0, 0, 0.228);
  border-left: 0;
}
.exit-labels i {
  transition: ease-in-out 0.2s;
}
.exit-labels i:hover {
  rotate: 90deg;
}
@media (max-width: 800px) {
  .exit-labels {
    top: -2.25rem;
    right: 3em;
    rotate: -90deg;
  }
}

.label-draw {
  background: rgba(180, 185, 29, 0);
  position: fixed;
  z-index: 15;
  transition: ease-in-out all 0.3s;
  width: calc(25% - 2px);
  top: 20px;
  bottom: 10px;
  left: calc(-100% - 5em);
  height: calc(100vh - 20px);
}
@media (max-width: 1000px) {
  .label-draw {
    top: 10px;
    bottom: 0px;
    width: calc(25% + 3px);
  }
}
@media (max-width: 800px) {
  .label-draw {
    top: calc(100vh + 2.5em);
    width: calc(100% - 20px);
    margin-top: 0px;
    height: calc(70vh + 10px) !important;
    left: 10px;
  }
}
.label-draw .label-link-list {
  overflow: scroll;
  height: 100%;
  padding-bottom: 5em;
}
.label-draw .label-draw-content-grid {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 0, 0);
  border-radius: 5px;
  transition: ease all 0.3s;
  z-index: 5;
  padding: 10px;
  padding-bottom: 10px;
}
@media (max-width: 1000px) {
  .label-draw .label-draw-content-grid {
    padding-bottom: 0px;
  }
}
@media (max-width: 800px) {
  .label-draw .label-draw-content-grid {
    padding: 0;
  }
}
.label-draw .label-draw-links {
  position: relative;
  background: rgb(63, 156, 71);
  border: 1px solid rgba(0, 0, 0, 0.228);
  border-radius: 5px;
  pointer-events: unset;
  height: 100%;
}
@media (max-width: 800px) {
  .label-draw .label-draw-links {
    border-radius: 5px 5px 0 0;
  }
}

#shopify-section-nz-labels {
  height: 100%;
}

.block-wrapper {
  height: 100%;
}
.block-wrapper .vendor-block {
  height: unset !important;
  max-height: 100%;
  text-align: left;
  padding: 10px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}

#top {
  margin-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.228);
}

@media (hover: hover) {
  /* when hover is supported */
}
.label-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.228);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 4px;
  transition: ease-in-out 0.2s;
}
.label-container .label {
  color: rgba(19, 12, 12, 0.833) !important;
  width: max-content;
  opacity: 60%;
}

@media (hover: hover) {
  /* when hover is supported */
  .label-container:hover {
    padding-left: 5px;
    border-bottom: 1px solid rgba(19, 12, 12, 0.833);
  }
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  height: webkit-fill-available;
}

.wrapper {
  padding: 10px;
  padding-top: 0px !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* Hide scrollbar for IE, Edge and Firefox */
* {
  font-family: arial, helvetica, sans-serif;
}
* ::selection {
  background: rgba(255, 119, 0, 0.781);
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-color: black;
  padding: 20px;
  height: webkit-fill-available;
  overflow-x: hidden;
}
@media (max-width: 1000px) {
  body {
    padding: 0.7em;
  }
}
@media (max-width: 700px) {
  body {
    padding: 3em 0.7em;
  }
}

@keyframes colorshift {
  0% {
    background-color: rgb(63, 156, 71);
    scale: 1 1;
  }
  25% {
    background-color: rgb(63, 156, 71);
    padding-top: 10em;
    scale: 0.1 0.1;
  }
  75% {
    background-color: rgb(63, 156, 71);
    padding-top: 0em;
  }
  100% {
    background-color: rgb(0, 0, 0);
    scale: 1 1;
  }
}
.atc-animation {
  animation: colorshift 0.8s ease;
}

.ticker-top-two {
  height: 0;
}

.ticker-top {
  height: 0px;
  width: 100%;
}

.ticker-bottom {
  height: 1px;
  width: 100%;
}

.spacer {
  background-color: rgba(255, 126, 5, 0);
  height: 5em;
}

#content {
  background-color: rgb(255, 252, 242);
  position: relative;
  width: 100%;
  height: fit-content;
  margin: auto;
  border-radius: 5px;
}