

{% assign page = pages.frontpage %}
{{ page.content }}
{% assign collection = collections.frontpage %}






<div class="spacer">

</div>

<div class="home-main">







   




  <div class="home-products">

    {% for product in collection.products %}


    {% render 'product-card' with{product: product} %}
  {% endfor %}

  </div>

</div>

    
    

   
