@use 'tools';

.card-img{
    
    
    width: 100%;
     
     padding-top:tools.$half;
    h1{
        padding-bottom:5em;
}
    img{
        width: 100%;
        height:70vh; 
        object-fit:cover;
        
    }

    h1{
        
        
        width: 100%;
        


    }
}

.img-sub-txt{
    padding-top:tools.$half;
    display: flex;
    gap: tools.$half;
    margin-bottom: 10px ;
    
    .label{
        margin-bottom: 0;
    }
}