@use "tools";




.scrolled-filters{
    color: red;
    border: 2px solid red;
    display: none;
}


.collection-filters{ 
   
    
    //background-color:red;
    align-items: center;
    justify-content:center;
    display: flex;
    flex-direction: column;
    padding: tools.$half;
    // border: tools.$standard-border-grey ;
    border-top: none;
    border-radius: 0 0 tools.$radius tools.$radius;
    
    
    padding-top: 5em;
    margin-left: auto;

    &:hover{

        color: tools.$grey;
    }

    .count{
        position: absolute;
        top: -0px;
        left: calc(100% + tools.$half );

        min-width: max-content;
    }
    

    .collection-filter{
        display: flex;
        position: relative;
        gap: tools.$half;
        
        padding:  tools.$half 0 ;
        border-bottom: tools.$standard-border-grey-0 ;
        margin-bottom:1em;
         
        &:hover{
            color: tools.$grey !important;
            border-bottom: tools.$standard-border ;
        }

    }

    
   
    h2{
        
    }
}

.collection-filter{

    &:hover{
        color: tools.$hovercolor;
    }
}


.collection-filter{}



