@use 'components';
@use 'tools';


.collection-block{
    border-top: tools.$standard-border-grey;
    padding-top: tools.$half;
    
    display: grid;
    grid-template-columns: repeat( 4 , 1fr);
    gap: tools.$half;
    margin-bottom: tools.$half;
    .collection-title{
        display: flex;
        gap: tools.$half;
    }

    .product-card{
        
        
        // background-color:red;


        .product-img {
        
            background-color:tools.$hovercolor !important;
            overflow: hidden;
            
            position: relative;
            height:30vw;
    
            @media (max-width: 1300px) {
                 
                height:30vw;
            }
           
            @media (max-width: 800px) {
               
                height:30vw;
            }

            // ------------------shouldnt need to touch this but could cause errors
           
            img{
    
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: tools.$transition-basic;
    
            }
    }
    }
}