@use 'components';
@use 'tools';

.block-wrapper{
    margin-bottom: 2em;
    

    .entered{
        width: 100%  !important;
      }


      
}




.collection-block{
    // border-top: tools.$standard-border-grey;
    // padding-top: tools.$half;
    
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: tools.$half;
    margin-bottom: 5em;
    
    @media (max-width: 800px) {
            
        display: flex;
        flex-direction: column !important;
        height: 70vh;

       
    
    }

    @media (max-width: 600px) {
            
        display: flex;
        flex-direction: column !important;
        height: fit-content;
        margin-bottom: 5em;

       
    
    }

    .collection-info{

        
        @media (max-width: 800px) {
            
            grid-column: 1 / 5;
            grid-row: 1;

           
        
        }
    }

    .collection-title{
        display: flex;
        gap: tools.$half;
        

        
        
    }

    .info{
        

        @media (max-width: 800px) {
            width: 100%;
            display : flex;
            justify-content:space-between;

           
        
        }
    }

    .product-card{
        
        
        // background-color:red;


        .product-img {
        
            background-color:tools.$hovercolor !important;
            overflow: hidden;
            
            position: relative;
            height:30vw;
    
            
           
            @media (max-width: 800px) {
                height:65vw;
                width:50vw;
            }

            // ------------------shouldnt need to touch this but could cause errors
           
            img{
    
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: tools.$transition-basic;
    
            }
    }
    }



    .swiper{
        display: none;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        cursor: grab;

        @media (max-width: 800px){
            display: unset !important;
        }

        height: fit-content;
            
        
    }

    .swiper-slide{
        width: fit-content;
        height: fit-content;
    }
}


.collection-images{
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    gap: tools.$half;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    @media (max-width: 800px) {
               
        display: none;
        gap: tools.$half;

        .product-info{
            height: 20vw;
        }
    }

    
}



.see-more{
    transition: tools.$transition-basic;

    border-bottom: tools.$standard-border-0;

    @media (hover:hover) {
        
        &:hover{

            border-bottom: tools.$standard-border;
            color: tools.$black !important;
        }
    }
}