@use 'components';
@use 'tools';

.block-wrapper{
    margin-bottom: 2em;
    

    .entered{
        width: 100%  !important;
      }
}




.collection-block{
    // border-top: tools.$standard-border-grey;
    // padding-top: tools.$half;
    
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: tools.$half;
    margin-bottom: tools.$half;
    
    @media (max-width: 800px) {
            
        display: flex;
        flex-direction: column !important;


       
    
    }

    .collection-info{

        
        @media (max-width: 800px) {
            
            grid-column: 1 / 5;
            grid-row: 1;

           
        
        }
    }

    .collection-title{
        display: flex;
        gap: tools.$half;

        
        
    }

    .info{
        

        @media (max-width: 800px) {
            width: 100%;
            display : flex;
            justify-content:space-between;

           
        
        }
    }

    .product-card{
        
        
        // background-color:red;


        .product-img {
        
            background-color:tools.$hovercolor !important;
            overflow: hidden;
            
            position: relative;
            height:30vw;
    
            
           
            @media (max-width: 800px) {
                height:65vw;
                width:50vw;
            }

            // ------------------shouldnt need to touch this but could cause errors
           
            img{
    
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: tools.$transition-basic;
    
            }
    }
    }
}


.collection-images{
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    gap: tools.$half;
    overflow-x: scroll;
    overflow-y: hidden;

    @media (max-width: 800px) {
               
        display: flex;
        gap: tools.$half;

        .product-info{
            height: 20vw;
        }
    }

    
}