@use 'tools';




// buttons


.link-btn {

    height: fit-content;
    color: tools.$black;
    text-decoration: none;
    padding-top:3px; 
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    transition: tools.$transition-basic;
    border-radius: 10px;
    // margin-left: tools.$half;
    border: tools.$standard-border-0;
    display: flex;

    
    

    .maker{
        background-color: tools.$yellow;
    }

    &:hover{
        background-color: tools.$hovercolor ;
        
        
    }
    
}

.link-btn-active{ 

    border: tools.$standard-border;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
    

}



// cells

.info-cell{
    width:fit-content;
    height: fit-content;
    color: tools.$black;
    text-decoration: none;
    padding-top:3px; 
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    transition: tools.$transition-basic;
    border-radius: 10px;
    // margin-left: tools.$half;
    // border: tools.$standard-border;
    display: flex;
    background-color:tools.$white;
    

}