@use 'tools';




// buttons

.btn{
    background-color: tools.$hovercolor;
    border-radius: tools.$radius;
    padding-top:3px; 
    padding-bottom: 1px;
    padding-left:5px;
    padding-right:5px;
}

.btn-active{
    
}

#add-to-cart-button:disabled {
   opacity: 60%;

   &:hover{
         background-color: tools.$hovercolor !important; 
         border: tools.$standard-border-grey !important;      
    }
}

.hero-btn{  

    border: none;
    stroke: none;
    width: 100%;
    display: unset !important;


    background-color: tools.$hovercolor;
    padding: 10px;
    margin-bottom: tools.$half;
    border: tools.$standard-border-grey;
    transition: tools.$transition-basic;

    &:hover{
        border: tools.$standard-border;
        background-color: tools.$white
    }

}

.anchor-circle{

    margin-top: 2px;

    height: 11px !important;
    width: 11px !important;
    
    background-color: tools.$black;
    border-radius: 50%;

}

.link-btn {

    height: fit-content;
    color: tools.$black;
    text-decoration: none;
    padding-top:3px; 
    padding-bottom: 2px;
    padding-left: tools.$half;
    padding-right: tools.$half;
    transition: tools.$transition-basic;
   
    // margin-left: tools.$half;
    
    display: flex;
    line-height: 15px;

    
    

    .maker{
        background-color: tools.$yellow;
    }

    &:hover{
        background-color: tools.$hovercolor ;
        
        
    }
    
}

.link-btn-active{ 

    border: tools.$standard-border;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
    

}



// cells

.info-cell{
    width:fit-content;
    height: fit-content;
    color: tools.$black;
    text-decoration: none;
    padding-top:3px; 
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    transition: tools.$transition-basic;
    border-radius: 10px;
    // margin-left: tools.$half;
    // border: tools.$standard-border;
    display: flex;
    background-color:tools.$white;
    

}

.version-mark{
    position: fixed ;
    right: 3px;
    top: 3px;
    color: tools.$grey;
   
    padding: 2px 2px 0px 2px ;
    border-radius: 50%;
    z-index: 1;
    
    p{
        font-size: 9px !important;
    }


    @media ( max-width:1000px ){
        display: none;
    }
}

.active-filters{

}

.active-filter {
    color: tools.$white !important;
    //background-color: tools.$black;
    border: tools.$standard-border-grey;
    padding: 2px 5px;
    border-radius: tools.$radius;
    font-weight: 200;

}

.no-background{
    background-color: none !important;
}

// inputs --------------------------------------------------------
input{
     display: none;
}

input +  label {
    border: none;
    color: tools.$grey;
    cursor: pointer;
    border: none;

    &:hover{
        color: tools.$black;
    }
    
    }

input:checked +  label {
     color: tools.$black !important;
    border-bottom: tools.$standard-border ;
    i{
        rotate: 45deg;
    }

}

input:disabled +  label {
    text-decoration: line-through;
   

}

