@use 'tools';




// buttons

.hero-btn{

    outline: none;
    stroke: none;

    background-color: green;
    padding: tools.$gap;

    :focus{
        outline: none;
    }

}

.link-btn {

    height: fit-content;
    color: tools.$black;
    text-decoration: none;
    padding-top:3px; 
    padding-bottom: 2px;
    padding-left: tools.$half;
    padding-right: tools.$half;
    transition: tools.$transition-basic;
   
    // margin-left: tools.$half;
    
    display: flex;
    line-height: 15px;

    
    

    .maker{
        background-color: tools.$yellow;
    }

    &:hover{
        background-color: tools.$hovercolor ;
        
        
    }
    
}

.link-btn-active{ 

    border: tools.$standard-border;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
    

}



// cells

.info-cell{
    width:fit-content;
    height: fit-content;
    color: tools.$black;
    text-decoration: none;
    padding-top:3px; 
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    transition: tools.$transition-basic;
    border-radius: 10px;
    // margin-left: tools.$half;
    // border: tools.$standard-border;
    display: flex;
    background-color:tools.$white;
    

}

.version-mark{
    position: absolute;
    right: tools.$half;
    top: tools.$half;
    color: tools.$grey;
    border: tools.$standard-border-grey;
    padding: 2px 5px 1px ;
    border-radius: 50%;
    z-index: 1;
}