@use 'tools';


.open{

    
    transition: ease-in-out 0.2s;
    overflow: scroll !important;
    max-height: 80vh !important;

    .all-filters{
        
        width: 100% !important;
        max-height: 70vh !important;
    }

    .filter-group{
        
        opacity: 100!important;
        max-height:100%;
    }

    .filter-head-bottom{
        height: 0 !important;
        overflow: hidden !important;
    }

    .filter-title{

        i{
            rotate: 180deg; 
            margin-bottom: 4px
        }
    }

    .fade-l{
        opacity: 0
    }

    .fade-r{
        opacity: 0
    }

    

}

#filters{
    height: tools.$half;
}

.filters-scroll{
    position: fixed;
    top: 10px;
    left: calc( 20px + 10px );
    right: calc( 20px + 10px );
    z-index: 20;
    height: 0;
    overflow: hidden;
    transition: ease all 0.3s;

    .btn{
        background-color: tools.$white;
        margin: 0!important;
    }
    
    

    .filters-fixed{
        display: flex;
        justify-content: flex-end;
        gap: 10px;

        @media (max-width: 900px) {
                 
            justify-content: space-between;
    
            }
    }
}




.filter-head{
   
    

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    
    @media (max-width: 900px) {
        flex-direction: column;
        bottom: calc(100% + 10px);
        
        
    }


    .filter-head-top{
        display: flex;
        flex-basis: 1;
        

        

        @media (max-width: 900px) {
            justify-content: space-between;
            padding: 0 ;
            .btn{
                margin-left:0;
            }
        }
    
    }

    .filter-head-bottom{
        display: flex;
        
        height:fit-content;
        transition: tools.$transition-basic;

       
        overflow: hidden;
       margin-right: tools.$half;
        @media (max-width: 900px) {
                 
            width: 100%;

            
    
            }

        .active-filters{
            //background-color:rgba(255, 0, 0, 0.152);
            
            
            display: flex;
            

            height: fit-content;
    
            //background-color: red;
            width: 100%;
            overflow: hidden;
            transition: tools.$transition-basic;
            position: relative;
            
            

            @media (max-width: 900px) {
                 
            width: 100%;

            .filter-label{
                margin-top: tools.$half;
            }
    
            }
            
            
    
            .scroll-wrap::-webkit-scrollbar {
                display: none;
              }
    
    
            .scroll-wrap{
    
                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;  /* Firefox */
                
            }
            
           
            .scroll-wrap{
                display: flex;
                overflow-x: scroll;
                width: 100%;
                background: rgba(0, 128, 0, 0);
                position: relative;
                padding-right: 2.5em;
                padding-left: 10px;
    
                .filter-label{
                    margin-left: 0 !important;
                    margin-right: tools.$half;
                }


                @media (max-width: 900px) {
                    
                    padding-left: 5px ;
            
                    }
            }
    
           
            .fade-r{
                background: rgb(255, 36, 36);
                background: linear-gradient(270deg, tools.$white 20%,  rgba(255, 255, 255, 0) 100%);
                width: 10px;
                height: 2.5em;
                position: absolute;
                bottom: 0;
                
                right: 0;
                z-index: 1;
                pointer-events: none;

                
                
                @media (max-width: 900px) {
                    height: unset ;
                    right: 0;
                    top:0;
                    bottom: 0;
            
                    }
                
            }
    
            .fade-l{
                
                background: rgb(255, 36, 36);
                background: linear-gradient(-270deg, tools.$white 20%,  rgba(255, 255, 255, 0) 100%);
                width: 10px;
                height: 2.5em;
                position: absolute;
                bottom: 0;
                
                left: 0;
                z-index: 1;
                pointer-events: none;

                @media (max-width: 900px) {
                    height: unset ;
                    left: 0;
                    top: 0;
                    bottom: 0;
            
                    }
                
                
            }
            
    
           
           
           
        }
    }
   
    .active-filter{

        min-width: max-content !important;
        
        &:hover{
            background-color:tools.$hovercolor !important;
        }
    }


    
    
    .filter-title{
        margin-left: 0;
    }
   
}



.clear-btn{
    background-color:tools.$white;
    margin-right: 0;

    &:hover{
        background-color:tools.$hovercolor !important;
    }
}

.filter-title{
    i{
        margin-left: 5px;
    }

    
}
  




.filter-label{
        
        
    font-size: tools.$base;
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 3px;
    margin-left: tools.$half;
    padding-left: 10px;
    padding-right: 10px;

    border: 2px solid red;;
    
    cursor: pointer;
    width: max-content;
    border: tools.$standard-border-grey;
    transition: tools.$transition-basic;
    i{
        font-size:0.8em;
    }

    &:hover{

        border: tools.$standard-border-grey;
        background-color: rgba(0, 0, 0, 0);


    }
    
   
}

.filter-form{
 
    max-height:0;
    
   // background-color: green;
    width: 100%;
    padding-left: 0;
   
    top: calc( 0em - 1.5em - 13px );
    z-index: 100;
    transition: tools.$transition-basic;
   margin-top:tools.$half;
    
   
    overflow: hidden !important;
   
   


   
    

   

   
   

    .all-filters{

        transition: ease all 0.6s;
        
        
        overflow: scroll;
        
        border-top: tools.$standard-border-grey;
       
        // animation
        max-height: 30em;
        

    //     label {
    //         border: none;
    //         color: tools.$grey;
           
    //         border: none;
            
        

    //     input{
    //         //  display: none;
    //         cursor: pointer;
    //     }
        
           
       

    // }
    }

   
        
  


    .filter-group{
        
        
       
        width:min-content;
        display: grid;
        grid-template-columns: 4fr 4fr;
        width: 100%;
        border-top: tools.$standard-border-grey;
        padding-top: tools.$half;
        
        //background-color: tools.$white;
        
        // animation
       opacity: 100%;
         
        transition: ease all 1s;
        
        @media( max-width: 1000px ){

            grid-template-columns: 4fr 8fr;
        }
        
    }

    i{
        transition: tools.$transition-basic;
    }

    .filter-group:nth-child(1){
        border-top: 0;
    }


    .filter-group-summary{
        display: flex;
       gap: tools.$half;
        
       .filter-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: tools.$half;

        .filter-info-top{
            display: flex;
            gap: tools.$half;
        }
       }
        
    }

    .filter-tag{
    
        // input{
        //      display: none;
        // }
        
        input +  label {
            
           
            color: tools.$grey;
            height: fit-content !important;
            
            border: none;

            &:hover{
                color: tools.$black;
            }
            }
        
        //     label + input:checked    {
        //     color: red;
        //     border-bottom: tools.$standard-border !important;
        
        //     }

            



            
        
    }

    .reset{
    
        background-color: tools.$white !important;
        
        margin-left: 0 !important;
        margin-top: 3em;
        border-bottom: tools.$standard-border !important;
        
        width: fit-content !important;
       }

    

    .filter-group-display__list{
        
        min-height: max-content;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: tools.$half;

        padding-bottom:3em;
        

    }
    .filter-group-display{

       
       
    }

    

        
       
        

       
        
        
        

        i{
            font-size: 0.8em;
        }

        input{
            display: none;
       }
       
        label{
            display: block;
            padding: 3px 5px;
            
        }

       input +  label {
        
        padding-left: tools.$half;
        padding-right: tools.$half;
        border-radius: tools.$radius;

         background-color: tools.$hovercolor;
           
           color: tools.$grey;
           cursor: pointer;
           border: tools.$standard-border-grey-0;
          // background-color: red;
       
           &:hover{
               color: tools.$black;

               
           }
           
           }
       
       input:checked +  label {
            color: tools.$black !important;
            border-bottom: none ;
            border: tools.$standard-border-grey;
            background-color: tools.$white;

            
            
       
       }
       
       input:disabled +  label  {
           text-decoration: line-through;
            display: none
       
       }
       
        
        
        

        

    

      

        
    }

    .filter-footer{
        
        width:100%;
        position: relative;
        border-top: tools.$standard-border-grey;
        z-index: 10;
        .fade{
            background: rgb(255,255,255);
            background: linear-gradient(0deg, tools.$white 20%,  rgba(255, 255, 255, 0) 100%);
            width: 100%;
            height: 2em;
            position: absolute;
            bottom: 2em; 
            left: 0;
            right: 0;
            z-index: 1;
            pointer-events: none;
            display: none;
        }

        
        .filter-foot-wrapper{
            width: 100%;
            padding-top: 10px;
            display: flex; 
            justify-content: flex-end;

            .hero-btn{
                width: 50%;
            }
            
            
        }

        .apply-title{
            margin-left: 0;
        }

        
            
          
    }

    


    