@use 'tools';

.foot-logo{
    width:100%;
    transition: tools.$transition-basic;
    fill: red;

}

.footer{
    padding-top: tools.$gutter;
    padding-left: tools.$half;
    padding-right: tools.$half;
    
}

.footer-top{
    padding-top: tools.$half;
    display: grid;
    grid-template-columns: 3fr 8fr 1fr;
    border-top: tools.$standard-border-grey !important;

    @media (max-width: 800px) {
               
        display: flex;
        flex-direction: column;
        gap: 10px;
        gap: tools.$half;

        
    }
    
}
.footer-bottom{
    padding-top: tools.$gutter;
    padding-left: tools.$half;
    padding-right: tools.$half;
    padding-bottom: 7px;
}