@use 'tools';
@use 'components';


// ----------------------------------------------------------------

.header-makers-mark{
    height: 3vw;
    width:3vw;
    background-color:tools.$yellow;
    border-radius:50%;
    
    position: fixed;
    
    top: 40px;
    right: 15px;
    
    z-index: 10;
}

//-----------------------------------------------------------------
.header{
    
    
    padding-bottom: 0;
    // background-color: tools.$white;
    transition: tools.$transition-basic;
    
}


.header-top-fixed{
    position: fixed !important;
    top: 1px !important;
    left: 0 !important;
    padding-top: 0px !important;
    z-index: 20;
    
}

.header-top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    //transition: tools.$transition-basic;
    transition: transform 1.6s cubic-bezier(0.16, 1, 0.3, 1);
    padding-top: 3px;
    position: absolute ;
    height:2.5rem;
    z-index: 200;
 
   
    
    
   
    .logo-wrapper{
        
    }

    .logo{
       
        background-color: tools.$white-50;
        
        transition: tools.$transition-basic;
       
        // filter: tools.$drop-shadow-center;
        height: 2.5rem;
        padding: tools.$half;
        border-radius: 0 0 tools.$radius tools.$radius;
        border: tools.$standard-border-grey;
        border-top: 0;
       
    }
    
}


//----------------------------------------------------------------


.header-bottom{
    display: flex;
    justify-content: space-between;
    padding-top: tools.$gutter;
    transition: tools.$transition-basic;

    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
}



.collection-link-list{
    width: 100%;
   
    display: flex;
    justify-content: center;
    
//     -moz-box-shadow:    inset -10px 0 5px #000000;
//    -webkit-box-shadow: inset -10px 0 5px #000000;
//    box-shadow:         inset -10px -10px 5px #000000;

} 


//----------------------------------------------------------------

//scrolled sate -----------------------------------------------

.header-scrolled{
    padding-top: 3px ;
    padding-bottom:15px;
    
    height: 20px;

   
    position: fixed;
    top: 0;
    left:5vw;
    right: 5vw;
    z-index: 10;
    
    background-color:tools.$white;
//    filter: drop-shadow(0px 8px 1px tools.$white);
   


    .header-top{
       
        .logo{
            
            opacity: 0;
        }
        
    }
    .header-bottom{

        height: 20px;
        
        align-items: center;
        padding: 0;

        a{
            color: tools.$black;
        }

        p{
            color: tools.$black;
        }
        
    }
    
    
    
}



.cart-button{
    width: min-content;
}



.nav-wrapper{
   
    
    
    // background-color: rgba(255, 255, 255, 0.974);
    position:fixed;
    left: 0;
    right: 0;
    top: calc(100% - 2.5em);
    z-index: 100;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: tools.$transition-basic;
    
    
    
}

.nav-bottom-fixed{


    bottom: 2em;

    @media (max-width: 1000px) {
       
        bottom: 0em;
       opacity: 0.2;

    }
}

.nav-content{
    width: min-content;
    
    
    
}

.nav-module{
    
    
    background-color: tools.$white-50;
    display: flex; 
    align-items: center;
    justify-content: center;
    border-radius: tools.$radius tools.$radius 0 0 ;
    height: 2.5em;
    padding: 10px;
    width: max-content;
    z-index: 10;
    // border: tools.$standard-border;
    
    transition: tools.$transition-basic;
    // backdrop-filter: blur(5px);
    border-top: tools.$standard-border-grey ;
    border-left: tools.$standard-border-grey ;
    border-right: tools.$standard-border-grey ;
    border-top: tools.$standard-border-grey ;

    transition: tools.$transition-basic;
    .head-link-list{
        display: flex;

        

       
    }

    

    .link-btn{

        border-right: tools.$standard-border-grey-0;

    }

    .cart-btn{

        border-right: 0;
       
    }
}