@use 'tools';
@use 'components';


// ----------------------------------------------------------------

.header-makers-mark{
    height: 3vw;
    width:3vw;
    background-color:tools.$yellow;
    border-radius:50%;
    
    position: fixed;
    
    top: 40px;
    right: 15px;
    
    z-index: 10;
}

//-----------------------------------------------------------------
.header{
    
    
    padding-bottom: 0;
    // background-color: tools.$white;
    transition: tools.$transition-basic;
    
}


.header-top-fixed{
    position: fixed !important;
    top: 0px !important;
    left: 0 !important;
    padding-top: 0px !important;
    z-index: 20;
    
    
}

.header-top{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    //transition: tools.$transition-basic;
    transition: transform 1.6s cubic-bezier(0.16, 1, 0.3, 1); 
    position: absolute ;
    height:2.5rem;
    z-index: 20000;
 
    a{
        line-height: 0 !important;
    }
    
    
   
    .logo-wrapper{
        
    }

    .logo{
       
        background-color: tools.$white-50;
        
        transition: tools.$transition-basic;
       
        // filter: tools.$drop-shadow-center;
        height: 2.5rem;
        padding: tools.$half;
        border-radius: 0 0 tools.$radius tools.$radius;
        border: tools.$standard-border-grey;
        border-top: 0;
       
    }
  
    
}


//----------------------------------------------------------------


.header-bottom{
    display: flex;
    justify-content: space-between;
    padding-top: tools.$gutter;
    transition: tools.$transition-basic;

    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    
}



.collection-link-list{
    width: 100%;
   
    display: flex;
    justify-content: center;
    
//     -moz-box-shadow:    inset -10px 0 5px #000000;
//    -webkit-box-shadow: inset -10px 0 5px #000000;
//    box-shadow:         inset -10px -10px 5px #000000;

} 


//----------------------------------------------------------------

//scrolled sate -----------------------------------------------

.header-scrolled{
    padding-top: 3px ;
    padding-bottom:15px;
    
    height: 20px;

   
    position: fixed;
    top: 0;
    left:5vw;
    right: 5vw;
    z-index: 10;
    
    background-color:tools.$white;
//    filter: drop-shadow(0px 8px 1px tools.$white);
   


    .header-top{

       
       
        .logo{
            
            opacity: 0;
        }
        
    }
    .header-bottom{

        height: 20px;
        
        align-items: center;
        padding: 0;

        a{
            color: tools.$black;
        }

        p{
            color: tools.$black;
        }
        
    }
    
    
    
}






