@use 'tools';
@use 'components';



.nav-space{
   // background-color: rgba(165, 42, 42, 0.254);
    position: absolute;
    display: flex;
    align-items: flex-end;
    padding-bottom: var(--foot-height) ;
    
    bottom: 0;
    left :0;
    right: 0;
}




.nav-wrapper{
   position: relative;
    
    
   // background-color: pink;
    position:fixed !important;
    
    left: 0;
    right: 0;
    height: 2.5em;
    top: 100vh;
    top: calc( var(--doc-height) - 2.5em );

    width: 100%;

    z-index: 200;
    display:flex;
    align-items: center;
    padding-top: 0vh;
    padding-bottom: 0vh;
    flex-direction: column;
    transition: ease all 0.3s;

    @media(max-width: 900px ){
        top: calc(100% - 3.5em);
    }
    
    
    
}






.cart-open{
    top: 15vh !important;
    bottom: 15vh !important ;
    transition: ease all 0.3s ;
    top: 0;
    transition: tools.$transition-basic;
    height: 100%;

    .cart{
        height: 100%;
        background-color: tools.$yellow;
        
    }

   
    
}



.nav-bottom-fixed{
    height: 2.5em  ;
}




.nav-bottom-fixed{

    position:unset !important;
    bottom: 0;
    
    height: 2.5em;
    z-index: 200;
    
    transition: ease all 0.3s;
    
    padding-top: 0 !important;
   
    padding-bottom: 0vh !important;
    transition: ease all 0.3s;

    @media ( max-width: 900px ){

        .nav-module{
            border-radius: tools.$radius  tools.$radius 0 0;
            border-bottom: 0;
        }
        
    }

    
    .cart{
        height:0 !important;
        transition: tools.$transition-basic;
    }


    @media (max-width: 900px) {
       
        bottom: 10px;
       

    }
}

.nav-content{
    
    width: 21em;
    transition: ease all 0.3s;
    height: 100% !important;
    

    @media( max-width: 1000px){
        width: 20em;
    }
    
    
}

.nav-module{
    
    
    background-color: tools.$white-50;
    display: flex; 
    align-items: center;
    justify-content: center;
    border-radius: tools.$radius tools.$radius 0 0 ;
    height: 2.5em;
    padding: 10px;
    width: 100%;
    z-index: 10;
    // border: tools.$standard-border;
    
    // transition: tools.$transition-basic;
    // backdrop-filter: blur(5px);

    border: tools.$standard-border-grey ;
    border-bottom: 0;
    overflow: hidden;
    

    transition: tools.$transition-basic;


    @media(max-width: 900px ){
        border-radius: tools.$radius;
        border-bottom: tools.$standard-border-grey ;
    }


    .head-link-list{
        display: flex;

        

       
    }

    

    .link-btn{

        border-right: tools.$standard-border-grey-0;

    }

    .cart-btn{

        border-right: 0;
       
    }
}

// open 



.nav-bottom-open{

    //background-color: red;
    top: 30%;
    justify-content: flex-end;
    height: calc( var(--doc-height) - var(--foot-height) ) !important;
    padding-top: 10% !important;
    .cart{
        height: calc( 100% - 2.5em - 10px - 10%  ) !important;
        
        @media( max-width: 1000px){
            height: calc( 100% - 2.5em - 10px - 5%  ) !important;
        }
    }

}

.nav-open{

    //background-color: green;
    height:var(--doc-height) ;
    top: 0vh;
    padding-top: 15vh;
    padding-bottom: 15vh;

    .cart{
        height:100%;
        
        padding: tools.$half;
        padding-top: 0;
        border: tools.$standard-border-grey;

    }

    @media ( max-width: 600px ){

        .nav-module{
            border-radius: tools.$radius  tools.$radius 0 0 !important;
            border-bottom: 0 !important;
        }
        
    }
    
}

