@use 'tools';
@use'components';


.lrg{

    //background-color: red;
    grid-column:  span 2;
    grid-row:  span 2;
}

.card-clicked{
    //background-color:blue !important;
     
    
}

.card-entered{
    
    opacity: 100% !important;
    padding-top:0 !important;
    
    .makers-mark{
        position: absolute;
        top: 5px;
        right:-4px ;
        background-color: tools.$yellow;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        z-index: 10;
    }
}

.product-card{
    opacity: 0 ;
    transition: ease all 0.5s;
    position: relative;
   
    padding-top:2em;
   
}
a{
    height: min-content;
}


.product-content{
    
    transition: tools.$transition-basic !important;
    position: relative;
    width: 100%;
    height: min-content;
    
    border-radius: 0 !important;

    
    

    :hover img {
        
        height: 110%;
        width: 110%;
        

    }

    :hover .img-tab{
        
        
        bottom: 0em !important;
        filter: tools.$drop-shadow-up;
    }

    :hover .info-section{
        color: tools.$grey !important;
    }

  
    

    .product-img {
        
        background-color:tools.$hovercolor !important;
        overflow: hidden;
        
        position: relative;
        height:25vw;

        @media (max-width: 1300px) {
             
            height: 29vw;
        }
       
        @media (max-width: 800px) {
           
            height:37vw;
        }

        @media (max-width: 600px) {
           
            height:60vw;
        }
        
        
       
        img{

            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: tools.$transition-basic;

        }

        // &:hover{

            

        //     img{
        //         transform: scale(1.02, 1.02);
        //     }
        // }

        .img-tab{

            background-color:tools.$white;
            transition: tools.$transition-basic;
            height: 1.5em;
            width: 40%;
            position:absolute;
            bottom: -1.5em;
            border-radius: tools.$radius tools.$radius 0 0;
            left: 30%;
            // inner text styling 
            display: flex;
            align-items: center;
            justify-content: center;
            pointer-events: none;

            
        }

    }
   
    .product-info{

        height:fit-content;
        padding-bottom: 2em;
        // background-color: red;

        .info-section {
            padding-top:tools.$half;
            
        }


        @media (max-width: 1300px) {
             
            padding-bottom: 1.5em;
        }
       
        @media (max-width: 800px) {
           
            height:37vw;
        }

        @media (max-width: 600px) {
           
            height:60vw;
        }
        
    }

  

    


   
}




    
    .makers-mark{
        position: absolute;
        top: 5px;
        right:-20px ;
        background-color: tools.$yellow;
        width: 0px;
        height: 0px;
        border-radius: 50%;
        transition: ease-in-out 0.2s;
        
        z-index: 10;
    }
    


    



