@use 'tools';



.product-page-wrapper{

    display: grid; 
   
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    padding: 0;
    gap: tools.$half;
    // grid-gap: tools.$gutter;

    @media (max-width: 700px) {
        display: flex;
        flex-direction: column;
        //background-color:red;
        flex-direction: column-reverse;
        gap: 0;
        
    }
    
}

.product-page-info{
    position: sticky; // See link
    top: 0; //to make it stick to the top of the screen
    height: 100vh; // make the height equal to 100 view height
    
    height: fit-content;
   
    // border: tools.$standard-border;
    // border-radius: tools.$radius;
    
    @media (max-width: 700px) {
        padding-right: 0; 
        

        
    }
   

    .product-title{
        // border-bottom: tools.$standard-border !important;
        // border-top: tools.$standard-border !important;
        margin-bottom:tools.$gutter;
       
        
        
        border-bottom: tools.$standard-border-grey !important;
        display: flex;
        align-items: center;
        gap: tools.$half;
        height: 2.5em;
        
        p{
            line-height: 16px;
        }

    }

    .product-description{
        margin-bottom:tools.$gutter;
        color: tools.$black;
    }
}

.product-page-images{

    grid-column: 2 / 5;
    height: fit-content;
    display: grid; 
    grid-auto-rows: 45vw; 
    grid-template-columns: 1fr 1fr ; 
    grid-gap: 5px; 
    padding-bottom: tools.$half;
    padding-top:tools.$half;

    @media ( max-width: 900px){
        grid-template-columns: 1fr  ;
        grid-auto-rows: 90vw; 
    }

    @media (max-width: 700px) {
        display: none;
             
    }

    .product-img{
        position: relative;

       
    }
    .img-index{
       
       
        border-radius:tools.$half;
        position: absolute;
        top: 7px;
        left: 10px;
        background-color: tools.$grey50;
        mix-blend-mode: difference;

        @media ( max-width: 700px ){
            position: absolute;
            top: 7px;
            bottom: -10px;

        }

        
    }

    
        img{
            width: 100%;
            height: 100%;
            
            object-fit: cover;

            
        

            @media (max-width: 700px) {
                height: 60vh;
                width: 80vw;
                
                
        
            }
              
         }
    
}




.swiper-wrapper{
    padding-top:tools.$half;
}

.swiper , .swiper-reco{
   
    display: none;
    background-color: rgba(205, 172, 172, 0);
    width: 100%;
    height: 110vw ;
    position: relative; 

    cursor: url('image-path.png');

    @media (max-width: 700px) { 
        display: unset;
        

        
    }


  
}

.swiper-btns{

    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 20;

    // background-color:rgba(255, 0, 255, 0.6);
    width: 100%;

    display: flex;
    justify-content:space-between;
    pointer-events: none;
}


.swiper-button-next, .swiper-button-prev {
  
    position: absolute !important;
    pointer-events: auto;
    width: 3em !important;

}

.swiper-button-next{
    height: 100% !important;
    // background-color: green;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    margin-top: 0 !important;
    
}
.swiper-button-prev{
    height: 100% !important;
    // background-color: green;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    margin-top: 0 !important;
    
   
}

    .swiper-button-next:after, .swiper-button-prev:after {
        font-family: unset !important;
        font-size: tools.$base-s;
        height: 100%;
        content: " " !important;

    }

    .swiper-slide{
        
        width: 100%;
        height: 100%;
        padding-right: 5px;

        img{
            width: 100%;
            height: 95%;
            object-fit: cover;
            
            @media( max-width: 700px ){
                height: calc( 100% - 25px);
            }
            
        }
    }


.single-metafield {
    display: grid; 
    color: tools.$grey;
    grid-template-columns: 1fr 2fr ; 
    border-top: tools.$standard-border-grey;
    
    padding-top:tools.$cell-padding;
    padding-bottom:tools.$cell-padding;
    
    .metafield-title{
        color: tools.$grey;
    }
}

.metafeild-notes{
   padding: tools.$half;
   border-radius: tools.$radius;
   
    
   background-color: tools.$hovercolor;
    border: tools.$standard-border-grey;
    padding-bottom:tools.$half;
    transition: tools.$transition-basic;

    @media ( hover : hover){

    &:hover{
        filter: drop-shadow(0 10px 10px tools.$grey50 );
        background-color: tools.$white;
    }
    
}
    

    .warning-check{
        padding-top:tools.$half;
        transition: tools.$transition-basic;
  
        label{
            display: flex;
            align-items: bottom;
            border-bottom:none !important;
            color: tools.$black;
            align-items: center;
            
        }

        input:checked  + label .input-block{
            
            background-color: grey;
            border-radius: 50%;
            border: none;
            
           
        }
        p{
            padding-top: tools.$half;
        }

       


        .input-block{
            height: 10px;
            width: 10px;
            margin-right: calc( tools.$cell-padding * 2 );
            border: tools.$standard-border;
            margin-bottom: 3px;
            transition: tools.$transition-basic;
            //background-color: tools.$white;

            &:hover{
                background-color: tools.$black;
            }
        }
        display:flex;
        gap: tools.$cell-padding;

    }

    .metafield-title{

        //border-top: tools.$standard-border-grey;

       
        padding-bottom: tools.$half;
        display: flex;
        
        
        i{
            font-size:0.8em;

            color: tools.$black
        }
    }
    // border-top: tools.$standard-border;
    // padding-top: tools.$half;
    margin-bottom: tools.$gutter;
}

.metafeild-notes:has(input:checked){

    background-color: tools.$white;
   


      
}

.warning-title{

   border-bottom: tools.$standard-border-grey;
    padding-bottom: tools.$half;
    display: flex;
        justify-content: space-between;
    
    i{
        font-size:0.9em;
        padding-top: 2px;

        color: tools.$black
    }
}
// border-top: tools.$standard-border;
// padding-top: tools.$half;

.warning-text{
    padding-top: tools.$half;
}

.product-option-row{

    display: grid; 
    color: tools.$grey;
    grid-template-columns: 1fr 2fr ; 
    border-top: tools.$standard-border-grey;
    
    padding-top:tools.$cell-padding;
    padding-bottom:tools.$cell-padding;

    .product-option{
        padding-bottom: tools.$cell-padding;
    }

 
    
}

.product-price{
    display: grid; 
    color: tools.$grey;
    grid-template-columns: 1fr 2fr ; 
    border-top: tools.$standard-border-grey;
    border-bottom: tools.$standard-border-grey;
    padding-top:tools.$cell-padding;
    padding-bottom:tools.$cell-padding;

    margin-bottom: 10px;
}


optgroup * {
    font-size: 100px;
}




.sizes{
    display: flex;
    justify-content: space-between;

    
}