@use 'tools';
@use'components';

.product-card{
    transition: tools.$transition-basic !important;
    position: relative;
    width: 100%;
    height:100%;
    overflow: hidden;
    border-radius: 0 !important;
    

    :hover{
        border-radius: tools.$radius;
        

    }

    :hover .img-tab{
        
        
        bottom: 0em !important;
        filter: tools.$drop-shadow-up;
    }

  
    

    .product-img {
        
        background-color:rgb(70, 240, 28);
        overflow: hidden;
        
        position: relative;
        height:80%;
       
        img{

            width: 100%;
            height: 100%;
            object-fit: cover;

        }

        .img-tab{

            background-color:tools.$white;
            transition: tools.$transition-basic;
            height: 1.5em;
            width: 40%;
            position:absolute;
            bottom: -1.5em;
            border-radius: tools.$radius tools.$radius 0 0;
            left: 30%;
            // inner text styling 
            display: flex;
            align-items: center;
            justify-content: center;
            pointer-events: none;

            
        }

    }
   
    .product-info{

        height:fit-content;

        .info-section {
            padding-top:tools.$half;
            display: grid;
            grid-template-columns: 2fr 1fr;
        }
    }

  

    


   
}




    
    .makers-mark{
        position: absolute;
        top: tools.$half;
        right: tools.$half;
        background-color: tools.$yellow;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        filter: tools.$drop-shadow-center;
    }
    


    



