@use 'tools';








    .slider-box{
        height: 100%;
        width: 100%;
        background-color: bisque;
        overflow: hidden;
        display: none ;

        @media ( max-width: 800px ) {

            display: unset;
            
        }

       

        
   

        
    }

    .swiper-slide-reco{
            
        
        
        
        height: 90vw !important;
        padding: 0;
        
        a{
            height: 100%;
        }

        img{
            height: 100%;
        }

        .product-card{
            
            .product-img{
                height: 70vw;
            }
            
        }
    }


// .product-reco-desktop{

//             background-color: red !important; 
//         @media( max-width: 600px){
//            display: none;
//         }
// }


// .mobile-product-recommendations{

//     background-color: red;
// }

.recomended-wrapper{
    height: 80vh;
    background-color: red;
    overflow: hidden;
}



#recommendations{
   
    
    overflow: hidden;
    min-height: 80vh;

    .product-card{
        opacity: 100% !important;
        padding-top:0 !important;
       
    }

    @media( max-width: 600px){
        min-height: 60vh;
    }

    
    
}





.line{
    border-top: tools.$standard-border-grey;
    width: 0%;
    transition: linear all 1s;
    margin-bottom: tools.$half;
}

.entered{
opacity: 100% !important;

 .line{
    width: 100%;
 }

 .recommended-grid{
    opacity: 100 !important;
 }
}

.title {
    display: flex;
    gap: tools.$half;
    padding-bottom: tools.$half;
    //grid-column: span 3;
}

.recommended-grid{
    

    opacity: 0;
    display: grid; 
    
    grid-template-columns: repeat(4, 1fr) ; 
    gap:tools.$half; 
     
    transition: ease all 1s;
    position: relative;

    @media( max-width:600px){
        display: flex;
        flex-direction: column;
        gap: 0; 

    }
   
    .title{
         grid-column: 1 / 1;
         grid-row: 1;


         @media ( max-width: 600px){
            width: 100%;
         }
    }
   

    

    

    @media ( max-width: 800px ){
        display: flex;
        flex-wrap:wrap;
        


    }
   
    

}



.recomended-product{

    overflow: unset;
    display: flex;
    gap: tools.$half;
    grid-column: 2 / 5;

    @media (max-width: 800px ) {

        display: flex;
        gap: tools.$half;
        overflow: scroll;
        width: 100%;
        height: fit-content;
        display: none;
    }
    
    

    a{
        width: 100%;

        @media (max-width: 800px ) {
            width: 70vw;
        }
    }
    

    .product-card{

       
        width: 100% !important;


        @media (max-width: 800px ) {
        width: 45vw !important;
        height: fit-content;
        }
        
        

        .product-img{

            height: 30vw;

            @media (max-width: 800px ) {
            height: 60vw;
            }
        }

    }


  
    
    
}


