// colors

    $black: rgba(19, 12, 12, 0.833);
    $white: rgb(246, 239, 219);
    $grey-0: rgba(0, 0, 0, 0.257);
    $grey: rgba(0, 0, 0, 0.546);
    $yellow: rgb(255, 199, 46);
    $red: rgb(248, 78, 35);
    $hovercolor: rgba(0, 0, 0, 0.056);

// measurements

    $gutter : 10px;
    $half: 10px;
    $gap: calc($gutter / 10);
    $cell-padding: 5px;

// details 

    $radius: 5px;
    $standard-border: 1px solid $black;
    $standard-border-0: 1px solid rgba(0, 0, 0, 0);
    $standard-border-grey: 1px solid $grey;
    $standard-border-grey-0: 1px solid $grey-0;
    $drop-shadow-up: drop-shadow(-0px -10px 20px rgba(0, 0, 0, 0.372));
    $drop-shadow-center: drop-shadow(-0px -0px 20px rgba(0, 0, 0, 0.56));


// design

    // type

        h1{

            font-size:35px;
            line-height: 40px;
            
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-style: regular;
        }
        
        

        h2{
            
            font-size:20px;
            font-weight: 700;
            font-style: regular;
        }

        

        p{
            
            font-weight: 700;
            font-size:14px;
            color:$black; 
            line-height:20px;
            font-style: regular;
        }

        a{
            
            font-weight: 700;
            font-size:14; 
            color: $black;
            text-decoration: none;
        }

        h3{
            
            font-weight: 700;
            font-size:10px;
            
        }

        .label{
          color: $grey !important;
           font-size: 10px !important;
           line-height: 15px;
           
                }



.flex{
    display: flex;
}

// Animation

$transition-basic:  ease-in-out 0.5s;


// ----------------------------------------------------------------

svg{
    fill: $black
}


