// colors

    $black: rgba(19, 12, 12, 0.833);
    $white: rgb(255, 252, 242);
    $white-50: rgba(255, 252, 242, 0.786);
    $grey-0: rgba(0, 0, 0, 0.257);
    $grey: rgb(148, 148, 148);
    $grey50: rgba(0, 0, 0, 0.065);
    $yellow: rgb(255, 199, 46);
    $yellow50: rgba(255, 199, 46, 0.519);
    $red: rgb(255, 45, 34);
    $hovercolor: rgba(0, 0, 0, 0.178);

// measurements

    $gutter : 10px;
    $half: 10px;
    $gap: calc($gutter / 10);
    $cell-padding: 5px;

// details 

    $radius: 5px;
    $standard-border: 1px solid $black;
    $standard-border-0: 1px solid rgba(0, 0, 0, 0);
    $standard-border-grey: 1px solid rgba(0, 0, 0, 0.228);
    $standard-border-grey-0: 1px solid $grey-0;
    $drop-shadow-up: drop-shadow(-0px -10px 20px rgba(0, 0, 0, 0.372));
    $drop-shadow-center: drop-shadow(-0px -0px 20px rgba(0, 0, 0, 0.56));

// text decoration

.unavailble{
   
    color: $grey;
    text-decoration: line-through;
    
}

.grey{
    color: $grey !important;
}
// design

    // type

        h1{

            font-size:26px;
            line-height: 32px;
            
           
            font-weight: 300;
            font-style: regular;
        }
        
        

        h2{
            
            font-size:1.5rem;
            font-weight: 300;
            font-style: regular;
        }

        h3{
            
            font-weight: 700;
            font-size:16px;

            @media (max-width: 1000px) {
                font-size: 12px;
        
            }
            
        }

        

        p, a, label, input, button {
            
            font-weight: 500;
            font-size:15px;
            color:$black; 
            line-height:15px;
            font-style: regular;

            @media (max-width: 1000px) {
                font-size: 12px;
        
            }
        }

        a{
            text-decoration: none;
        }

        h5{
            font-weight: 500;
            font-size:16px;
            color:$grey; 
            line-height:15px;
            font-style: regular; 

            
        }

       

       

        .label{
          color: $grey !important;
           font-size: 10px !important;
           line-height: 15px;
           
                }



.flex{
    display: flex;
}

// Animation

$transition-basic:  ease-in-out 0.2s;


// ----------------------------------------------------------------



