@use 'tools';


.js-ajax-cart-message--error{
    color: red;
    
}

.cart-open{
    
    top: 10vh;
    filter: tools.$drop-shadow-center;
}


.cart{
    background-color:tools.$white;
    width: 17.5em;
    z-index: 10;
    padding: tools.$gutter;
    border-radius: 0 0 tools.$radius tools.$radius;
    
 
    
    
 }

 .cart-item{
    border-top: tools.$standard-border;
 }


 