@use "tools";

.details{

    position: sticky;
}

.contact-section{
    padding-bottom: 1em;
}

.page-content{
    display: grid;
    grid-template-columns: 3fr 5fr;
    min-height:40vh;
    margin-bottom: 5em;

    @media (max-width: 800px) {
           
        grid-template-columns: 1fr;
    }
   
   
}