@use 'tools';

.wrapper{
    padding: tools.$gutter;
}

.product-page-wrapper{

    display: grid; 
   
    grid-template-columns: 1fr 3fr ; 
    
    padding-bottom: 0;
    // grid-gap: tools.$gutter;

    @media (max-width: 700px) {
        display: flex;
        flex-direction: column;
        //background-color:red;
        flex-direction: column-reverse;
    }
    
}

.product-page-info{
    position: sticky; // See link
    top: 0; //to make it stick to the top of the screen
    height: 100vh; // make the height equal to 100 view height
    
    height: fit-content;
    padding-right: tools.$half; 
    // border: tools.$standard-border;
    // border-radius: tools.$radius;
    
    @media (max-width: 700px) {
        padding-right: 0; 
        

        
    }
   

    .product-title{
        // border-bottom: tools.$standard-border !important;
        // border-top: tools.$standard-border !important;
        margin-bottom:tools.$gutter;
       
        padding-bottom: tools.$half;
        padding-top: tools.$half;
        border-bottom: tools.$standard-border-grey !important;
        display: flex;
        gap: tools.$half;

    }

    .product-description{
        margin-bottom:tools.$gutter;
        color: tools.$black;
    }
}

.product-page-images{

    
    height: fit-content;
    display: grid; 
    grid-auto-rows: 50vw; 
    grid-template-columns: 1fr 1fr ; 
    grid-gap: tools.$half; 
    padding-bottom: tools.$half;

    @media (max-width: 700px) {
        display: none;
        

        
    }

    .product-img{
        position: relative;

       
    }
    .img-index{
       
       
        border-radius:tools.$half;
       
        
    }

    
        img{
            width: 100%;
            height: calc(100% - 15px);
            
            object-fit: cover;

            @media (max-width: 700px) {
                height: 60vh;
                width: 80vw;
        
            }
              
         }
    
}





.swiper{
    display: none;
    background-color: rgba(205, 172, 172, 0);
    width: 100%;
    height: 100vw;
    position: relative;

    @media (max-width: 700px) {
        display: unset;
        

        
    }


    .img-index{
        margin-bottom: tools.$half;
        height: 20px;
    }
}

.swiper-btns{

    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 20;

    // background-color:rgba(255, 0, 255, 0.6);
    width: 100%;

    display: flex;
    justify-content:space-between;
    pointer-events: none;
}


.swiper-button-next, .swiper-button-prev {
  
    position: absolute !important;
    pointer-events: auto;
    width: 3em !important;

}

.swiper-button-next{
    height: 100% !important;
    // background-color: green;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    margin-top: 0 !important;
    
}
.swiper-button-prev{
    height: 100% !important;
    // background-color: green;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    margin-top: 0 !important;
    
   
}

    .swiper-button-next:after, .swiper-button-prev:after {
        font-family: unset !important;
        font-size: tools.$base-s;
        height: 100%;
        content: " " !important;

    }

    .swiper-slide{
        
        width: 100%;
        height: 100%;
        padding-right: 10px;

        img{
            width: 100%;
            height: calc(100% - 20px );
            object-fit: cover;
            
            
        }
    }


.single-metafield {
    display: grid; 
    color: tools.$grey;
    grid-template-columns: 1fr 2fr ; 
    border-top: tools.$standard-border-grey;
    
    padding-top:tools.$cell-padding;
    padding-bottom:tools.$cell-padding;
    
    .metafield-title{
        color: tools.$grey;
    }
}

.metafeild-notes{
   padding: tools.$half;
   border-radius: tools.$radius;
   
    
   background-color: tools.$hovercolor;
    border: tools.$standard-border-grey;
    padding-bottom:tools.$half;
    transition: tools.$transition-basic;

    &:hover{
        filter: drop-shadow(0 10px 10px tools.$grey50 );
        background-color: tools.$white;
    }
    

    

    .warning-check{
        padding-top:tools.$half;
        transition: tools.$transition-basic;
        input{
            
            //display: unset;
        }
        label{
            display: flex;
            align-items: bottom;
            border-bottom:none !important;
            color: tools.$black;
            align-items: center;
            
        }

        input:checked  + label .input-block{
            
            border: 3px solid tools.$black;

           
        }

       


        .input-block{
            height: 0.8em;
            width: 0.8em;
            margin-right: calc( tools.$cell-padding * 2 );
            border: tools.$standard-border;
            
            transition: tools.$transition-basic;
            background-color: tools.$white;

            &:hover{
                background-color: tools.$black;
            }
        }
        display:flex;
        gap: tools.$cell-padding;

    }

    .metafield-title{

        //border-top: tools.$standard-border-grey;

       
        padding-bottom: tools.$half;
        
        i{
            font-size:0.8em;

            color: tools.$black
        }
    }
    // border-top: tools.$standard-border;
    // padding-top: tools.$half;
    margin-bottom: tools.$gutter;
}

.metafeild-notes:has(input:checked){

    background-color: tools.$white;
   


      
}

.warning-title{

    //border-top: tools.$standard-border-grey;

   
    padding-bottom: tools.$half;
    
    i{
        font-size:0.8em;

        color: tools.$black
    }
}
// border-top: tools.$standard-border;
// padding-top: tools.$half;



.product-option-row{

    display: grid; 
    color: tools.$grey;
    grid-template-columns: 1fr 2fr ; 
    border-top: tools.$standard-border-grey;
    
    padding-top:tools.$cell-padding;
    padding-bottom:tools.$cell-padding;

    .product-option{
        padding-bottom: tools.$cell-padding;
    }

 
    
}

.product-price{
    display: grid; 
    color: tools.$grey;
    grid-template-columns: 1fr 2fr ; 
    border-top: tools.$standard-border-grey;
    
    padding-top:tools.$cell-padding;
    padding-bottom:tools.$cell-padding
}


optgroup * {
    font-size: 100px;
}




.sizes{
    display: flex;
    justify-content: space-between;

    
}