@use 'tools';

.product-page-wrapper{

    display: grid; 
   
    grid-template-columns: 1fr 3fr ; 
    padding: tools.$gutter;
    padding-bottom: 0;
    grid-gap: tools.$gutter;
    
}

.product-page-info{
    position: sticky; // See link
    top: 0; //to make it stick to the top of the screen
    height: 100vh; // make the height equal to 100 view height
    padding-top:tools.$half;
    height: fit-content;
   

    .product-title{
        margin-bottom:tools.$gutter;
    }

    .product-description{
        margin-bottom:tools.$gutter;
        color: tools.$black;
    }
}

.product-page-images{

    
    height: fit-content;
    display: grid; 
    grid-auto-rows: 50vw; 
    grid-template-columns: 1fr 1fr ; 
    grid-gap: tools.$half; 
    padding-bottom: tools.$half;

    .product-img{
        position: relative;
    }
    .img-index{
        position: absolute;
        top: tools.$half;
        left: tools.$half;
       
    }

    
        img{
            width: 100%;
            height: 100%;
            
            object-fit: cover;
              
         }
    
}



.single-metafield {
    display: grid; 
    color: tools.$grey;
    grid-template-columns: 1fr 2fr ; 
    border-top: tools.$standard-border-grey;
    
    padding-top:tools.$cell-padding;
    padding-bottom:tools.$cell-padding
    
}

.metafeild-notes{

    .metafield-title{
        padding-bottom: tools.$half;
    }
    // border-top: tools.$standard-border;
    // padding-top: tools.$half;
    margin-bottom: tools.$gutter;
}

.product-option-row{

    display: grid; 
    color: tools.$grey;
    grid-template-columns: 1fr 2fr ; 
    border-top: tools.$standard-border-grey;
    
    padding-top:tools.$cell-padding;
    padding-bottom:tools.$cell-padding;

 
    
}

.product-price{
    display: grid; 
    color: tools.$grey;
    grid-template-columns: 1fr 2fr ; 
    border-top: tools.$standard-border-grey;
    
    padding-top:tools.$cell-padding;
    padding-bottom:tools.$cell-padding
}


optgroup * {
    font-size: 100px;
}




.sizes{
    display: flex;
    justify-content: space-between;

    
}