@use 'tools';

// .product-reco-desktop{

//             background-color: red !important; 
//         @media( max-width: 600px){
//            display: none;
//         }
// }


// .mobile-product-recommendations{

//     background-color: red;
// }

.recomended-wrapper{
    height: 80vh;
    background-color: red;
}



#recommendations{
   
    
    
    min-height: 80vh;

    .product-card{
        opacity: 100% !important;
        padding-top:0 !important;
       
    }

    @media( max-width: 600px){
        min-height: 60vh;
    }

    
    
}

.line{
    border-top: tools.$standard-border-grey;
    width: 0%;
    transition: linear all 1s;
    margin-bottom: tools.$half;
}

.entered{
opacity: 100% !important;

 .line{
    width: 100%;
 }

 .recommended-grid{
    opacity: 100 !important;
 }
}

.title {
    display: flex;
    gap: tools.$half;
    padding-bottom: tools.$half;
    //grid-column: span 3;
}

.recommended-grid{
    

    opacity: 0;
    display: grid; 
    
    grid-template-columns: repeat(4, 1fr) ; 
    gap:tools.$half; 
     
    transition: ease all 1s;
    position: relative;

    @media( max-width:600px){
        display: flex;
        flex-direction: column;
        gap: 0; 

    }
   
    .title{
         grid-column: 1 / 1;
         grid-row: 1;


         @media ( max-width: 600px){
            width: 100%;
         }
    }
   

    

    

    @media ( max-width: 800px ){
        display: flex;
        flex-wrap:wrap;
        


    }
   
    

}

.fade{

    position: absolute; 
    right: -10px;
    top: 0;
    bottom: 0;
    width: 10%;
    background-color: red;
    z-index: 5;
    pointer-events: none;

    
    background: linear-gradient(270deg, tools.$white 10%, rgba(255, 255, 255, 0) 80% );

    display: none;
}


.recomended-product{

    overflow: unset;
    display: flex;
    gap: tools.$half;
    grid-column: 2 / 5;

    @media (max-width: 800px ) {

        display: flex;
        gap: tools.$half;
        overflow: scroll;
        width: 100%;
        height: fit-content;
        display: none;
    }
    
    

    a{
        width: 100%;

        @media (max-width: 800px ) {
            width: 70vw;
        }
    }
    

    .product-card{

       
        width: 100% !important;


        @media (max-width: 800px ) {
        width: 45vw !important;
        height: fit-content;
        }
        
        

        .product-img{

            height: 30vw;

            @media (max-width: 800px ) {
            height: 60vw;
            }
        }

    }


  
    
    
}