@use 'tools';

.recommended-product{

    
}

#recommendations{
    padding-top: tools.$half;
    
    
    min-height: 80vh;

    .product-card{
        opacity: 100% !important;
        padding-top:0 !important;
       
    }

    
    
}

.line{
    border-top: tools.$standard-border-grey;
    width: 0%;
    transition: linear all 1s;
    margin-bottom: tools.$half;
}

.entered{
opacity: 100% !important;

 .line{
    width: 100%;
 }

 .recommended-grid{
    opacity: 100 !important;
 }
}

.title {
    display: flex;
    gap: tools.$half;
    padding-bottom: tools.$half;
    //grid-column: span 3;
}

.recommended-grid{
    

    opacity: 0;
    display: grid; 
    grid-auto-rows:40vw; 
    grid-template-columns: repeat(2, minmax(0, 1fr) ) ; 
    gap:tools.$half; 
    width:100%; 
    transition: ease all 1s;
    
   
    

    @media (max-width: 1000px) {
        grid-auto-rows:50vw; 
        grid-template-columns: repeat(3, minmax(0, 1fr) ) ;
        grid-template-rows: 2fr; 

        .title{
            // grid-column: 1 / 5;
            // grid-row: 1;
        }
    }
   
    

}