@use 'tools';

#recommendations{
    padding-top: tools.$half;
    
    
    min-height: 80vh;
    
    
}

.line{
    border-top: tools.$standard-border-grey;
    width: 0%;
    transition: linear all 1s;
    margin-bottom: tools.$half;
}

.entered{
opacity: 100% !important;

 .line{
    width: 100%;
 }

 .recommended-grid{
    opacity: 100 !important;
 }
}

.title {
    padding-bottom: tools.$half;
}

.recommended-grid{
    

    opacity: 0;
    display: grid; 
    grid-auto-rows:40vw; 
    grid-template-columns: repeat(4, minmax(0, 1fr) ) ; 
    gap:tools.$half; 
    width:100%; 
    transition: ease all 1s;
    
   
    

    @media (max-width: 1300px) {
        grid-auto-rows:37vw; 
        grid-template-columns: repeat(4, minmax(0, 1fr) ) ; 
    }
   
    @media (max-width: 800px) {
        grid-auto-rows:50vw; 
        grid-template-columns: repeat(4, minmax(0, 1fr) ) ; 
    }

}