
@use 'reset';
@use 'header';

@use 'footer';
@use 'components';
@use 'tools';
@use 'product-grids';
@use 'product-card';
@use 'filter-form';

@use 'product-page';
@use 'page-template';
@use 'vendors-template';
@use 'cart';
@use 'collection-filters';
@use 'recommended-products';


/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  * {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-family: arial, helvetica, sans-serif;

    ::selection {
        background: rgba(255, 119, 0, 0.781);
      }
  }

body{
    background-color: rgb(0, 0, 0);
    //  padding: 3em ; 
}

.spacer {
    
    background-color: rgba(255, 126, 5, 0);
    height: 5em;
}

#content{
    
    background-color:tools.$white;
    position: relative;
    
    width:100%;
    height: fit-content; 
    
    
    
    margin: auto;
    // margin-top: 2em;
    // margin-bottom: 2em;
    border-radius: tools.$radius ;
    
    // max-width: 1300px;

    
}

.content-load{

    // width:20% !important;
    // height: 30vh !important;


}



